<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/usr/img/pages/icon.png" type="image/png">
        <title>Pages</title>
        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="/usr/vender/bootstrap/css/bootstrap.min.css">
        <!-- Icofont Css -->
        <link rel="stylesheet" href="/usr/vender/icofont/icofont.min.css">
        <!-- AOS Css -->
        <link rel="stylesheet" href="/usr/vender/aos/dist/aos.css">
        <!-- Remix Icons -->
        <link rel="stylesheet" href="/usr/vender/remixicon/remixicon.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="/usr/vender/css/style.css">
        <!-- Common Css -->
        <link rel="stylesheet" href="/usr/css/common.css">
    </head>
    <body>
        
        <div class="bg-elements elements-top-header position-relative">
            <!-- navbar -->
            <div th:replace="~{usr/v1/infra/include/productHead :: productHead}"></div>
            <!-- header -->
            <div class="py-5">
                <div class="container py-5">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-6 col-lg-5 col-md-10 col-12 text-center">
                            <div class="text-white">
                                <h1 class="fw-bolder display-5 mb-3">찜목록</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="svg-border-rounded text-light">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="#ffffff"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
            </div>
        </div>
		<div class="py-5">
		    <div class="container py-4">
		        <div class="row g-5">
		            <div class="col-lg-8 col-12 pe-lg-5">
		                <table class="table text-center">
		                    <thead>
		                        <tr>
		                        	<th></th>
		                            <th class="pb-3 px-0" scope="col">상품</th>
		                            <th class="pb-3 px-3" scope="col">가격</th>
		                            <th class="pb-3 px-4" scope="col">삭제</th>
		                            <th class="pb-3 px-0" scope="col">구매</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr th:each="list : ${list}">
		                            <td class="py-3 px-0 align-middle">
		                                <img src="/usr/img/pages/products/product-1.jpg" alt="" class="img-fluid cart-img rounded-2">
		                            </td>
		                            <td class="py-3 px-3 align-middle">
		                                <h6 class="m-0" th:text="${list.pdName}">오리통다리</h6>
		                            </td>
		                            <td class="py-3 px-4 align-middle" th:text="${list.pdPrice}">8,000원</td>
		                            <td class="py-3 px-0 align-middle">
		                                <a href="#"><i class="ri-delete-bin-fill text-danger"></i></a>
		                            </td>
		                            <td class="align-middle">
		                                <a href="shop-checkout.html" class="btn btn-purple px-3 py-3 w-100">구매하기</a>
		                            </td>
		                            <input type="hidden" name="mmSeq" th:value="${session.sessSeqUsr}">
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		        </div>
		    </div>
		</div>
        <!-- footer -->
        <footer class="bg-footer text-white">
            <div class="bg-black py-4">
                <div class="container">
                    <div class="row g-4 py-4">
                        <div class="col-lg-3 col-6">
                            <h5 class="fw-bold pb-3">고객센터</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>number: 02-0000-0000</li>
                                <li>Fax: +1800-964-152</li>
                                <li>Email: tjsdn2587@gmail.com</li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-12">
                            <h5 class="fw-bold pb-3">영업 시간</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>월 - 금: 10am - 8pm</li>
                                <li>토: 10am - 4pm</li>
                                <li>일: 휴무</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="bg-light py-4 footer-copyright">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <p class="text-center text-muted m-0">Copyright 2024 <a href="#" class="text-black"> Tony Chang all rights reserved.</a> </p>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Bootsrap Bundle Js -->
        <script src="/usr/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Jquery Js -->
        <script src="/usr/vender/jquery/jquery-3.6.4.min.js"></script>
        <!-- AOS Js -->
        <script src="/usr/vender/aos/dist/aos.js"></script>
        <!-- Custom Js -->
        <script src="/usr/js/script.js"></script>
    </body>
</html>
