<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/usr/img/pages/icon.png" type="image/png">
         <style>
    		#star {
		        color: gold;
		    	}
	    	.duckLeg {
		        display: flex;
		        justify-content: center; 
		    	}
		</style>
        <title>Pages</title>
        <!-- 별점 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="/usr/vender/bootstrap/css/bootstrap.min.css">
        <!-- Icofont Css -->
        <link rel="stylesheet" href="/usr/vender/icofont/icofont.min.css">
        <!-- AOS Css -->
        <link rel="stylesheet" href="/usr/vender/aos/dist/aos.css">
        <!-- Remix Icons -->
        <link rel="stylesheet" href="/usr/vender/remixicon/remixicon.css">
        <!-- Slick Slider Css -->
        <link rel="stylesheet" href="/usr/vender/slick/slick/slick.css">
        <link rel="stylesheet" href="/usr/vender/slick/slick/slick-theme.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="/usr/vender/css/style.css">
        <!-- Common Css -->
        <link rel="stylesheet" href="/usr/css/common.css">
    </head>
    <body>
        
        <div class="bg-elements elements-top-header position-relative">
            <div th:replace="~{usr/v1/infra/include/productHead :: productHead}"></div>
            <!-- header -->
            <div class="py-5">
                <div class="container py-5">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-6 col-lg-5 col-md-10 col-12 text-center">
                            <div class="text-white">
                                <h1 class="fw-bolder display-5 mb-3">제품 상세정보</h1>
                                <nav class="small">
                                    <ol class="breadcrumb d-inline-flex bg-dark bg-opacity-50 rounded-pill px-3 py-2 justify-content-center">
                                        <li class="breadcrumb-item">
                                            <a href="/usr/v1/infra/index/indexUsr"><i class="ri-home-line"></i> Home</a>
                                        </li>
                                       <li class="breadcrumb-item active text-white-50" aria-current="page"> <a href="/usr/v1/infra/productUsrgrid/productUsrGridList">상품</a></li>
                                        <li class="breadcrumb-item active text-white-50" aria-current="page">상품 상세정보</li>
                                        
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="svg-border-rounded text-light">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="#ffffff"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
            </div>
        </div>
        <!-- product -->
        <div class="py-5">
            <div class="container py-4">
                <div class="row g-5">
                    <div class="col-lg-6 col-12 mb-4">
                        <div class="big-img">
                            <img src="/usr/img/통다리.jpg" alt="type-1" class="img-fluid rounded-4">
                            <img src="/usr/img/통다리3.jpg" alt="type-2" class="img-fluid rounded-4">
                            <img src="/usr/img/통다리4.jpg" alt="type-3" class="img-fluid rounded-4">
                            <img src="/usr/img/통다리5.jpg" alt="type-4" class="img-fluid rounded-4">
                        </div>
                        <div class="small-img shop-product-detail-slider mt-3 px-2">
                            <img src="/usr/img/통다리.jpg" alt="type-1" class="img-fluid mx-2 rounded-3 shadow-sm">
                            
                            <img src="/usr/img/통다리4.jpg" alt="type-3" class="img-fluid mx-2 rounded-3 shadow-sm">
                            <img src="/usr/img/통다리5.jpg" alt="type-4" class="img-fluid mx-2 rounded-3 shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 ps-lg-5">
                        <p class="text-uppercase text-purple mb-1 fw-bold"></p>
                        <h1 class="fw-bold pb-2 display-5" name = "pdName" th:text="${item?.pdName}"></h1>
                        <div class="d-flex align-items-center gap-1 mb-3">
                            <a href="#" class="small ps-2">(1 customer review)</a>
                        </div>
                        <h5 class="fw-bold" name ="pdPrice" th:text ="${item?.pdPrice}"></h5>
                        <div class="border-bottom py-4">
                            <p class="text-muted" name ="pdDesc" th:text ="${item.pdDesc}">
                            </p>
                        </div>
                   <div class="border-bottom py-4 mb-4"> 
                        <div class="row align-items-center pt-3 pb-3">
                            <div class="col-6">
                            <a href="#" class="btn btn-dark btn-lg py-3 px-3 rounded w-100">카트에 담기</a>
                            </div>
                            <div class="col-6"><a th:href="@{/usr/v1/infra/checkout/checkOutForm(pdSeq=${item?.pdSeq})}" class="btn btn-purple btn-lg py-3 px-3 rounded w-100">구매하기</a></div>
                        </div>
                        <div class="pt-3">
                            <p class="small mb-0"><span class="fw-bold">CATEGORY:</span></p>
                             <a href="#" th:text="${@codeService.selectOneCachedCode(item.pdType)}"></a>
                             <b>,</b>
                            <a href="#"<span th:text="${@codeService.selectOneCachedCode(item.pdMeat)}"></span></a>
                        </div>
                   	</div>
                </div>
            </div>
        </div>
        
        <!-- tabs -->
        <div class="py-5 bg-light">
            <div class="container py-4">
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <div class="nav nav-tabs d-flex justify-content-center gap-2 nav-tabs-osahan" id="nav-tab" role="tablist">
                                <button class="nav-link active px-lg-4 py-lg-3" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true">상품소개</button>
                                <button class="nav-link px-lg-4 py-lg-3" id="nav-additional-information-tab" data-bs-toggle="tab" data-bs-target="#nav-additional-information" type="button" role="tab" aria-controls="nav-additional-information" aria-selected="false">구매안내</button>
                                <button class="nav-link px-lg-4 py-lg-3" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">리뷰 (1)</button>
                            </div>
                        </nav>
                        <div class="tab-content bg-white p-lg-5 p-4 border-end border-bottom border-start" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab" tabindex="0">
                            <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글.jpg" alt="">
                            </div>
                            <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글3.jpg" alt="">
                            </div>
                            <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글4.jpg" alt="">
                            </div>
                            <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글5.gif" alt="">
                            </div>
                             <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글6.jpg" alt="">
                             </div>
                             <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글7.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글8.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글9.gif" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글2.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글10.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글11.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글12.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글13.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글14.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글15.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글16.gif" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글17.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글18.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글19.jpg" alt="">
                             </div>
                              <div class="duckLeg">
                             <img src="/usr/img/소형오리통다리소개글20.png" alt="">
                             </div> 
                            </div>
                            <div class="tab-pane fade" id="nav-additional-information" role="tabpanel" aria-labelledby="nav-additional-information-tab" tabindex="0">
                               <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab" tabindex="0">
                                <h5 class="fw-bold pb-2">상품결제정보</h5>
                                <p>
                                 고액결제의 경우 안전을 위해 카드사에서 확인전화를 드릴 수도 있습니다. 확인과정에서 도난 카드의 사용이나 타인 명의의 주문등 정상적인 주문이 아니라고 판단될 경우 임의로 주문을 보류 또는 취소할 수 있습니다.  

								무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다.  
								주문시 입력한 입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 7일 이내로 입금을 하셔야 하며 입금되지 않은 주문은 자동취소 됩니다.
                                </p>
                                <h5 class="fw-bold pb-2">배송정보</h5>
                                <p>배송 방법 : 택배
									배송 지역 : 전국지역
									배송 비용 : 무료
									배송 기간 : 1일 ~ 3일
									배송 안내 : - 일요일~목요일 오전 11시 이전 결제 완료된 주문건은 당일 제조하여 익일 발송 됩니다.
									토요일은 배송사 근무일정 상 배송이 하루 늦어지기 때문에 제품의 신선도를 위해 제조 및 배송하지 않으며, 일요일에 일괄 제조하여 순차 발송 됩니다.
								</p>
								<h5 class="fw-bold pb-2">반품정보</h5><br>
								<h5 class="fw-bold pb-2">교환 및 반품이 가능한 경우</h5>
								<p>
								- 상품이 부패 되었거나 불량인 경우 상품을 공급 받으신 날로부터 3일이내에 교환/반품이 가능합니다.
								- 상품 특성상 그 외 단순 변심에 의한 교환/반품은 불가하오니 널리 양해 부탁 드립니다.
								</p>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-12 col-12 pe-lg-5">
                                        <div class="d-flex align-items-start gap-3 py-3"  th:each = "list : ${list}">
                                            <img class="img-fluid rounded-circle avtar-sm" src="/usr/img/pages/team/member-1.jpg" alt="Image Description">
                                            <div class="w-100">
                                                <div class="d-flex justify-content-between mb-2">
                                                    <div class="d-flex align-items-end gap-2"> <h5 class="fw-bold m-0" th:text="${list.mmNickName}">Black Smith</h5>  <span class="text-muted fw-normal small" th:text="${#dates.format(list.rvDate, 'yyyy-MM-dd HH:mm:ss')}">/ MARCH 13, 2024</span></div>
                                                    <div class="d-flex align-items-center gap-2">
                                                    
                                                        <i class="ri-star-fill text-warning" th:if ="${list.rvRank eq 1}"></i>
                                                       	<i class="ri-star-fill text-warning" th:if ="${list.rvRank eq 2}"><i class="ri-star-fill text-warning"></i></i>
                                                        <i class="ri-star-fill text-warning" th:if ="${list.rvRank eq 3}"><i class="ri-star-fill text-warning"></i><i class="ri-star-fill text-warning"></i></i>
                                                        <i class="ri-star-fill text-warning" th:if ="${list.rvRank eq 4}"><i class="ri-star-fill text-warning"></i><i class="ri-star-fill text-warning"></i><i class="ri-star-fill text-warning"></i></i>
                                                        <i class="ri-star-fill text-warning" th:if ="${list.rvRank eq 5}"><i class="ri-star-fill text-warning"></i><i class="ri-star-fill text-warning"></i><i class="ri-star-fill text-warning"></i><i class="ri-star-fill text-warning"></i></i>
                                                    </div>
                                                </div>
                                                <p class="text-muted" th:text= "${list.rvComment}">At auctor urna nunc id cursus metus aliquam eleifend. Ipsum nunc aliquet bibendum enim. Et malesuada fames ac turpis egestas sed tempus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-12">
                                   	<form method ="post" action ="/usr/v1/infra/review/reviewUsrInst">
                                        <div class="mb-3">
                                            <h4 class="fw-bold">Add a review</h4>
                                            <p>Your email address will not be published. Required fields are marked </p>
                                             	<select class="form-select validate-this" id="rvRank"  name ="rvRank" th:value ="${item?.rvRank}">
 													<option value="5" id="star" name ="rvRank">&#9733 &#9733 &#9733 &#9733 &#9733</option> 
 													<option value="4" id="star" name ="rvRank">&#9733 &#9733 &#9733 &#9733</option>
													<option value="3" id="star" name ="rvRank">&#9733 &#9733 &#9733</option>
													<option value="2" id="star" name ="rvRank">&#9733 &#9733</option>
													<option value="1" id="star" name ="rvRank">&#9733</option> 
												</select>
                                             <!-- <div class ="star_rating">
                                                <span class="star on" value="1" th:selected = "${item?.rvRank == 1}"></span>
                                                <span class="star" value="2" th:selected = "${item?.rvRank == 2}"></span>
                                                <span class="star" value="3" th:selected = "${item?.rvRank == 3}"> </span>
                                                <span class="star" value="4" th:selected = "${item?.rvRank == 4}"> </span>
                                                <span class="star" value="5" th:selected = "${item?.rvRank == 5}"> </span>
                                             </div> -->
                                        </div>
                                        	 <input type="hidden" name="pdSeq" th:value="${item.pdSeq}">
                                        	 <input type="hidden" name="mmSeq" th:value="${session.sessSeqUsr}">
                                            <div class="mb-3"><textarea class="form-control bg-transparent" id="rvComment" name="rvComment" rows="5" placeholder="리뷰를 작성해주세요"></textarea></div>
                                                <!-- <label for="inputAddress" class="form-label small text-muted">임시상품Seq</label>
                                                <input type="inputphone" name="member_mmSeq" th:value="${item?.member_mmSeq}" class="form-control" id="inputAddress" placeholder="">
                                                <label for="inputAddress" class="form-label small text-muted">임시맴버Seq</label>
                                                <input type="text" name="product_pdSeq" th:value="${item?.member_mmSeq}" class="form-control" id="inputAddress" placeholder=""> -->
                                            </div>
                                          </div>
                                            <button type="submit" class="btn btn-dark px-3">등록하기</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container py-4">
                <div class="row mb-3">
                    <div class="col-12">
                        <h4 class="fw-bold">관련상품</h4>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card bg-transparent border-0 h-100">
                            <a href="shop-product-detail.html" class="position-relative">
                                <span class="badge text-bg-warning rounded-1 p-2 position-absolute m-3">SALE!</span> <img src="/usr/img/pages/products/product-1.jpg" class="card-img-top rounded" alt="popular-bag-1">
                            </a>
                            <div class="card-body px-0">
                                <div class="d-flex align-items-center gap-2 mb-2">
                                    <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i>
                                    <i class="ri-star-fill text-warning"></i>
                                </div>
                                <h5 class="card-title">Lorem Ipsum is simply dummy text of the printing.</h5>
                                <p class="card-text text-muted">$35.00 - $45.00</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 px-0"><a href="#" class="btn btn-dark">View product</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card bg-transparent border-0 h-100">
                            <a href="shop-product-detail.html"> <img src="/usr/img/pages/products/product-2.jpg" class="card-img-top rounded" alt="popular-bag-1"> </a>
                            <div class="card-body px-0">
                                <div class="d-flex align-items-center gap-2 mb-2">
                                    <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i>
                                    <i class="ri-star-fill text-body-tertiary"></i>
                                </div>
                                <h5 class="card-title">when an unknown printer took a galley of type.</h5>
                                <p class="card-text text-muted">$45.00</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 px-0"><a href="#" class="btn btn-dark">Add to cart</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card bg-transparent border-0 h-100">
                            <a href="shop-product-detail.html"> <img src="/usr/img/pages/products/product-3.jpg" class="card-img-top rounded" alt="popular-bag-1"> </a>
                            <div class="card-body px-0">
                                <div class="d-flex align-items-center gap-2 mb-2">
                                    <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i>
                                    <i class="ri-star-fill text-body-tertiary"></i>
                                </div>
                                <h5 class="card-title">Lorem ipsum dolor sit amet consectetur.</h5>
                                <p class="card-text text-muted">$25.00</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 px-0"><a href="#" class="btn btn-dark">Add to cart</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card bg-transparent border-0 h-100">
                            <a href="shop-product-detail.html"> <img src="/usr/img/pages/products/product-4.jpg" class="card-img-top rounded" alt="popular-bag-1"> </a>
                            <div class="card-body px-0">
                                <div class="d-flex align-items-center gap-2 mb-2">
                                    <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i> <i class="ri-star-fill text-warning"></i> <i class="ri-star-half-line text-warning"></i>
                                    <i class="ri-star-fill text-body-tertiary"></i>
                                </div>
                                <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                                <p class="card-text text-muted">$20.00</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 px-0"><a href="#" class="btn btn-dark">Add to cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer class="bg-footer text-white">
            <div class="bg-black py-4">
                <div class="container">
                    <div class="row g-4 py-4">
                        <div class="col-lg-3 col-6">
                            <h5 class="fw-bold pb-3">고객센터</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>number: 02-0000-0000</li>
                                <li>Fax: +1800-964-152</li>
                                <li>Email: tjsdn2587@gmail.com</li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-12">
                            <h5 class="fw-bold pb-3">영업 시간</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>월 - 금: 10am - 8pm</li>
                                <li>토: 10am - 4pm</li>
                                <li>일: 휴무</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="bg-light py-4 footer-copyright">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <p class="text-center text-muted m-0">Copyright 2024 <a href="#" class="text-black"> Tony Chang all rights reserved.</a> </p>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Bootsrap Bundle Js -->
        <script src="/usr/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Jquery Js -->
        <script src="/usr/vender/jquery/jquery-3.6.4.min.js"></script>
        <!-- AOS Js -->
        <script src="/usr/vender/aos/dist/aos.js"></script>
        <!-- Slick Slider Js -->
        <script src="/usr/vender/slick/slick/slick.min.js"></script>
        <!-- Slick Js -->
        <script src="/usr/js/slick.js"></script>
        <!-- Custom Js -->
        <script src="/usr/js/script.js"></script>
        <!-- 별점 -->
        <script>$('.star_rating > .star').click(function() {
            $(this).parent().children('span').removeClass('on');
            $(this).addClass('on').prevAll('span').addClass('on');
          })</script>
    </body>
</html>
