<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.address.addressDao">
					<!-- mapper와 연결될 Dao |ctrl + shift + c-->
					
	<resultMap type="com.loras.infra.address.addressDto" id="resultMapObj"></resultMap>
			<!-- 	담아줄객체 -->
	<select id="addressList" resultMap="resultMapObj">
	select
		ad.adSeq
		,ad.adDefaultNy
		,ad.adZipCode
		,ad.ad1
		,ad.ad2
		,ad.adUseNy
		,ad.adDelNy
		,ad.adDate
		,ad.adFixDate
		,ad.member_mmSeq
	 
	</select>
	
	  
</mapper>