<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.address.addressDao">
					<!-- mapper와 연결될 Dao |ctrl + shift + c-->
					
	<resultMap type="com.loras.infra.address.addressDto" id="resultMapObj"></resultMap>
			<!-- 	담아줄객체 -->
	<select id="addressList" resultMap="resultMapObj">
	select
		ad.seq
		,ad.addName
		,ad.zip
		,ad.add1
		,ad.add2
		,ad.num1
		,ad.num2
		,ad.type
		,ad.date
		,ad.fixDate
	from
		address ad
	order by
		ad.seq desc
	 
	</select>
	
	<insert id="insert">
	insert into address(
		addName
		,zip
		,add1
		,add2
		,num1
		,num2
		,type
		,date
		,fixDate
		)
	values(
		#{addName}
		,#{zip}
		,#{add1}
		,#{add2}
		,#{num1}
		,#{num2}
		,#{type}
		,now()
		,now()
		
		)
	
	</insert>
	<select id="selectOne" resultMap="resultMapObj">
	select
		ad.seq
		,ad.addName
		,ad.zip
		,ad.add1
		,ad.add2
		,ad.num1
		,ad.num2
		,ad.type
		,ad.date
		,ad.fixDate
	from
		address ad
	where 1=1
	and ad.seq = #{seq}
	</select>
	
	  
</mapper>