<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.codegroup.CodeGroupDao">
					<!-- mapper와 연결될 Dao |ctrl + shift + c-->
					
	<resultMap type="com.loras.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
			<!-- 	담아줄객체 -->
	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq
		    ,a.cgName
		    ,a.cgUseNy
		    ,a.cgTurn
		    ,a.cgDesc
		    ,a.delNy
		    ,a.cgDateTime
		    ,a.cgFixDate
		from
			codegroup a
		order by
			a.seq desc   
	</select>
	
	<insert id="insert">
		insert into codegroup(
			cgName
			,cgUseNy
			,cgTurn
			,cgDesc
			,delNy
			,cgDateTime
			,cgFixDate
			)
		values(
			#{cgName}
			,#{cgUseNy}
			,#{cgTurn}
			,#{cgDesc}
			,0
			,now()
			,now()
			)
	</insert>
	<select id="selectOne" resultMap ="resultMapObj">
		select
			a.seq
		    ,a.cgName
		    ,a.cgUseNy
		    ,a.cgTurn
		    ,a.cgDesc
		    ,a.delNy
		    ,a.cgDateTime
		    ,a.cgFixDate
		from
			codegroup a
		where 1=1
		and a.seq = #{seq}
	</select>
	
	<update id="update">
		update codegroup
		set
			cgName = #{cgName}
			,cgUseNy = #{cgUseNy}
			,cgTurn = #{cgTurn}
			,cgDesc = #{cgDesc}
			,cgFixDate = now()
		where 1=1
			and seq = #{seq}
	</update>
	
	  
</mapper>