<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.codegroup.CodeGroupDao">
					<!-- mapper와 연결될 Dao |ctrl + shift + c-->
					
	<resultMap type="com.loras.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
			<!-- 	담아줄객체 -->
	<select id="selectList" resultMap="resultMapObj">
		select
			a.cgSeq 
		    ,a.cgName
		    ,a.cgUseNy
		    ,a.cgTurn
		    ,a.cgDesc
		    ,a.cgDelNy
		    ,a.cgDateTime
		    ,a.cgFixDate
		    ,(select
            count(b.cdSeq)
            from code b
            where 1=1
            and a.cgSeq = b.codegroup_seq
            )
            as count
		from
			codegroup a
		order by
			a.cgSeq desc   
	</select>
	
	<insert id="insert">
		insert into codegroup(
			cgName
			,cgUseNy
			,cgTurn
			,cgDesc
			,cgDelNy
			,cgDateTime
			,cgFixDate
			)
		values(
			#{cgName}
			,#{cgUseNy}
			,#{cgTurn}
			,#{cgDesc}
			,0
			,now()
			,now()
			)
	</insert>
	<select id="selectOne" resultMap ="resultMapObj">
		select
			a.cgSeq
		    ,a.cgName
		    ,a.cgUseNy
		    ,a.cgTurn
		    ,a.cgDesc
		    ,a.cgDelNy
		    ,a.cgDateTime
		    ,a.cgFixDate
		from
			codegroup a
		where 1=1
		and a.cgSeq = #{cgSeq}
	</select>
	
	<update id="update">
		update codegroup
		set
			cgName = #{cgName}
			,cgUseNy = #{cgUseNy}
			,cgTurn = #{cgTurn}
			,cgDesc = #{cgDesc}
			,cgFixDate = now()
			,cgDelNy = #{cgDelNy}
		where 1=1
			and cgSeq = #{cgSeq}
	</update>
	
	<delete id="delete">
		delete from codegroup
		where 1=1
			and cgSeq = #{cgSeq}
	</delete>
	
	<update id="uelete">
		update codegroup
		set
			cgDelNy = 1
		where 1=1
			and cgSeq = #{cgSeq}
	</update>
	
	<select id="count" resultMap ="resultMapObj">
	select
			a.cgSeq
			,a.cgName
			,(select
            count(b.cdSeq)
            from code b
            where 1=1
            and a.cgSeq = b.codegroup_seq
            )
            as count
			from
			codegroup a
	 </select>
	 
	  
</mapper>