<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.code.CodeDao">				

	<resultMap type="com.loras.infra.code.CodeDto" id="resultMapObj"></resultMap>
		
	<select id="codeSelectList" resultMap="resultMapObj">
	select bb.* from(
		select
			b.cdSeq
		    ,b.cdName
		    ,b.cdUseNy
		    ,b.cdTurn
		    ,b.cdDesc
		    ,b.cdDelNy
		    ,b.cdDateTime
		    ,b.cdFixDate
		    ,b.codegroup_seq
		    ,a.cgSeq
		    ,a.cgName
		<include refid="selectCommon"></include>
		order by
			b.cdSeq desc 
	) bb
		limit #{rowNumToShow} offset #{startRnumForMysql}
			  
	</select>
	<insert id="insert">
	INSERT INTO code (
	    cdName
	    ,cdUseNy
	    ,cdTurn
	    ,cdDesc
	    ,cdDelNy
	    ,cdDateTime
	    ,cdFixDate
	    ,codegroup_seq
		) 
	VALUES (
	    #{cdName}
	    ,#{cdUseNy}
	    ,#{cdTurn}
	    ,#{cdDesc}
	    ,0
	    ,now()
	    ,now()
	    ,#{codegroup_seq}
		)
	</insert>
	
	<select id="selectOne" resultMap ="resultMapObj">
		select
			b.cdSeq 
		    ,b.cdName
		    ,b.cdUseNy
		    ,b.cdTurn
		    ,b.cdDesc
		    ,b.cdDelNy
		    ,b.cdDateTime
		    ,b.cdFixDate
		    ,b.codegroup_seq
		from
			code b
		where 1=1
		and b.cdSeq = #{cdSeq}
	</select>
	
	<update id="update">
		update code b 
		
		set
			b.cdName = #{cdName}
			,b.cdUseNy = #{cdUseNy}
			,b.cdTurn = #{cdTurn}
			,b.cdDesc = #{cdDesc}
			,b.cdFixDate = now()
			,b.codegroup_seq = #{codegroup_seq}

		where 1=1
			and b.cdSeq = #{cdSeq}
	</update>
	<select id="selectListCodeGroup" resultMap ="resultMapObj">
		select
			a.cgSeq
			,a.cgName
		from codegroup a
		where 1=1			
	</select>
	
	<select id="selectListMfom" resultMap ="resultMapObj">
		select
			a.cgSeq
			,a.cgName
			
		from codegroup a
		where 1=1
		order by
			a.cgTurn 			
	</select>
	
		<delete id="delete">
		delete from code
		where 1=1
			and cdSeq = #{cdSeq}
	</delete>
	
	<update id="uelete">
		update code
		set
			cdDelNy = 1
		where 1=1
			and cdSeq = #{cdSeq}
	</update>
	<sql id="selectCommon">
		from
			code b
		left join codegroup a
		on a.cgSeq = b.codegroup_seq
		where 1=1
		<if test ="shcdDelNy != null and !shcdDelNy.equals('')">and cdDelNy = #{shcdDelNy}</if>
		<if test ="shcdUseNy != null and !shcdUseNy.equals('')">and cdUseNy = #{shcdUseNy}</if>
		<choose>
			<when test="shOption == 1">and cdSeq = #{shValue}</when>
			<when test="shOption == 2">and cgSeq = #{shValue}</when>
			<when test="shOption == 3">and cdName like concat('%',#{shValue},'%')</when>	
			<when test="shOption == 4">and cgName like concat('%',#{shValue},'%')</when>
			<when test="shOption == 5">and cdTurn = #{shValue}</when>
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND b.cdDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND b.cdFixDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql>
	<select id="selectOneCount" resultType="Integer">
		select count(*)
		<include refid="selectCommon"></include>
	</select>
	 
	
	
	
	
	

	
	  
</mapper>