<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.code.CodeDao">				

	<resultMap type="com.loras.infra.code.CodeDto" id="resultMapObj"></resultMap>
		
	<select id="codeSelectList" resultMap="resultMapObj">
		select
			b.seq
		    ,b.cdName
		    ,b.cdUseNy
		    ,b.cdTurn
		    ,b.cdDesc
		    ,b.delNy
		    ,b.cdDateTime
		    ,b.cdFixDate
		    ,b.codegroup_seq
		    ,a.seq
		    ,a.cgName
		from
			code b
		join codegroup as a
		on a.seq = b.codegroup_seq
		order by
			b.seq desc 
			  
	</select>
	<insert id="insert">
	INSERT INTO code (
	    cdName,
	    cdUseNy,
	    cdTurn,
	    cdDesc,
	    delNy,
	    cdDateTime,
	    cdFixDate,
	    codegroup_seq
		) 
	VALUES (
	    #{cdName}
	    ,#{cdUseNy}
	    ,#{cdTurn}
	    ,#{cdDesc}
	    ,0
	    ,now()
	    ,now()
	    ,#{codegroup_seq}
		)
	</insert>
	
	<select id="selectOne" resultMap ="resultMapObj">
		select
			b.seq 
		    ,b.cdName
		    ,b.cdUseNy
		    ,b.cdTurn
		    ,b.cdDesc
		    ,b.delNy
		    ,b.cdDateTime
		    ,b.cdFixDate
		    ,b.codegroup_seq
		    
		from
			code b
		where 1=1
		and b.seq = #{seq}
	</select>
	
	<update id="update">
		update code as b 
		left join codegroup as a
		on b.codegroup_seq = a.cdseq
		set
			b.cdName = #{cdName}
			,b.cdUseNy = #{cdUseNy}
			,b.cdTurn = #{cdTurn}
			,b.cdDesc = #{cdDesc}
			,b.cdFixDate = now()
			,b.codegroup_seq = #{codegroup_seq}
			,a.codeName = #{codeName}
			,a.seq as cdseq = #{cdseq}
		where 1=1
			and b.seq = #{seq}
	</update>
	<select id="selectListCodeGroup" resultMap ="resultMapObj">
		select
			a.seq as codegroup_seq
			,a.cgName
		from codegroup a
		where 1=1
			and a.delNy = 0
		order by
			a.cgTurn Desc				
	</select>
	
	
	
	

	
	  
</mapper>