<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.eats.EatsDao">

<resultMap type="com.loras.infra.eats.EatsDto" id="resultMapObj"></resultMap>

<select id="eatsSelectList" resultMap = "resultMapObj">
	select
		eats.seq
		,eats.type
		,eats.name
		,eats.timeStart
		,eats.timeEnd
		,eats.number
		,eats.site
		,eats.pakingNy
		,eats.bookingNy
		,eats.freecallNy
		,eats.eatsDesc
		,eats.date
		,eats.fixDate
	from
		eats eats
	order by
		eats.seq desc
</select>

<insert id="insert">
	insert into eats(
		type
		,name
		,timeStart
		,timeEnd
		,number
		,site
		,pakingNy
		,bookingNy
		,freecallNy
		,eatsDesc
		,date
		,fixDate
		)
	values(
		#{type}
		,#{name}
		,#{timeStart}
		,#{timeEnd}
		,#{number}
		,#{site}
		,#{pakingNy}
		,#{bookingNy}
		,#{freecallNy}
		,#{eatsDesc}
		,now()
		,now()
		)
</insert>
<select id="selectOne" resultMap ="resultMapObj">
	select
		eats.seq
		,eats.type
		,eats.name
		,eats.timeStart
		,eats.timeEnd
		,eats.number
		,eats.site
		,eats.pakingNy
		,eats.bookingNy
		,eats.freecallNy
		,eats.eatsDesc
		,eats.date
		,eats.fixDate
	from
		eats eats
	where 1=1
	and eats.seq = #{seq}
	
</select>
<update id="update">
	update eats
	set
		name = #{name}
		,timeStart = #{timeStart}
		,timeEnd = #{timeEnd}
		,number = #{number}
		,site	= #{site}
		,pakingNy = #{pakingNy}
		,bookingNy = #{bookingNy}
		,freecallNy = #{freecallNy}
		,eatsDesc = #{eatsDesc}
		,date = #{date}
		,fixDate = #{fixDate}
	where 1=1
		and seq = #{seq}
</update>
	  
</mapper>