<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.edu.EduDao">

<resultMap type="com.loras.infra.edu.EduDto" id="resultMapObj"></resultMap>

<select id="eduSelectList" resultMap = "resultMapObj">
	select
		d.seq
		,d.type
		,d.name
		,d.pay
		,d.teacher
		,d.classStart
		,d.classEnd
		,d.eduStart
		,d.eduEnd
		,d.place
		,d.placeDesc
		,d.date
		,d.fixDate+
	from
		education d
	order by
		d.seq desc
</select>

<insert id="insert">
	insert into education(
		type
		,name
		,pay
		,teacher
		,classStart
		,classEnd 
		,eduStart
		,eduEnd
		,place
		,placeDesc
		,date
		,fixDate
		,user_seq
		)
	values(
		#{type}
		,#{name}
		,#{pay}
		,#{teacher}
		,#{classStart}
		,#{classEnd}
		,#{eduStart}
		,#{eduEnd}
		,#{place}
		,#{placeDesc}
		,now()
		,now()
		,1
		)
</insert>
<select id="selectOne" resultMap = "resultMapObj">
	select
		d.seq
		,d.type
		,d.name
		,d.pay
		,d.teacher
		,d.classStart
		,d.classEnd
		,d.eduStart
		,d.eduEnd
		,d.place
		,d.placeDesc
		,d.date
		,d.fixDate
	from
		education d
	where 1=1
		and d.seq = #{seq}
</select>

<update id="update">
	update education
	set
		type
		,name = #{name}
		,pay = #{pay}
		,teacher = #{teacher}
		,classStart = #{classStart}
		,classEnd = #{classEnd}
		,eduStart = #{eduStart}
		,eduEnd = #{eduEnd}
		,place = #{place}
		,placeDesc = #{placeDesc}
		,date = #{date}
		,fixDate = #{fixDate}
		,user_seq = #{user_seq}
	where 1=1
		and seq = #{seq}
</update>
	  
</mapper>