<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.login.LogInDao">

<resultMap type="com.loras.infra.login.LogInDto" id="resultMapObj"></resultMap>

<select id="logInSelectOne" resultMap="resultMapObj">	
	SELECT
		mm.mmSeq
		,mm.mmRealName
		,mm.mmNickName
		,mm.mmEmail
		,mm.mmTell
		,mm.mmBirthDay
		,mm.mmDelNy
		,mm.mmUseNy
		,mm.mmDate
		,mm.mmFixDate
		,mm.mmDesc
		,mm.mmGender
		,mm.mmId
		,mm.mmPasswd
		from
			member mm
		where 1=1
		and mm.mmId = #{mmId}
		
	</select>





</mapper>