<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.member.MemberDao">
					<!-- mapper와 연결될 Dao |ctrl + shift + c-->
					
	<resultMap type="com.loras.infra.member.MemberDto" id="resultMapObj"></resultMap>
			<!-- 	담아줄객체 -->
	<select id="MemberSelectList" resultMap="resultMapObj">
select mm.* from(	
	SELECT
		mm.mmSeq
		,mm.mmRealName
		,mm.mmNickName
		,mm.mmEmail
		,mm.mmTell
		,mm.mmBirthDay
		,mm.mmDelNy
		,mm.mmUseNy
		,mm.mmDate
		,mm.mmFixDate
		,mm.mmDesc
		,mm.mmGender
		,mm.mmId
		,mm.mmPasswd
	<include refid="selectCommon"></include>
	ORDER BY 
		mm.mmSeq DESC
	) mm
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<insert id="insert">
	INSERT INTO member(
		mmRealName
		,mmNickName
		,mmEmail
		,mmTell
		,mmBirthDay
		,mmDelNy
		,mmUseNy
		,mmDate
		,mmFixDate
		,mmDesc
		,mmGender
		,mmId
		,mmPasswd
		)values(
		#{mmRealName}
		,#{mmNickName}
		,#{mmEmail}
		,#{mmTell}
		,#{mmBirthDay}
		,0
		,#{mmUseNy}
		,now()
		,now()
		,#{mmDesc}
		,#{mmGender}
		,#{mmId}
		,#{mmPasswd}
		)
		<selectKey resultType="String" keyProperty="mmSeq" order="AFTER">
			SELECT last_insert_id()
		 </selectKey>
	</insert>
	
	<select id="selectOne" resultMap ="resultMapObj">
		select
		mm.mmSeq
		,mm.mmRealName
		,mm.mmNickName
		,mm.mmEmail
		,mm.mmTell
		,mm.mmBirthDay
		,mm.mmDelNy
		,mm.mmUseNy
		,mm.mmDate
		,mm.mmFixDate
		,mm.mmDesc
		,mm.mmGender
		,mm.mmId
		,mm.mmPasswd
		from
			member mm
		where 1=1
		and mm.mmSeq = #{mmSeq}
		
	</select>
	
	<update id="update">
		update member
		set
			mmRealName = #{mmRealName}
			,mmUseNy = #{mmUseNy}
			,mmNickName = #{mmNickName}
			,mmDesc = #{mmDesc}
			,mmFixDate = now()
			,mmEmail = #{mmEmail}
			,mmTell = #{mmTell}
			,mmBirthDay = #{mmBirthDay}
			,mmDesc = #{mmDesc}
			,mmGender = #{mmGender}
			,mmId = #{mmId}
			,mmPasswd = #{mmPasswd}
		where 1=1
			and mmSeq = #{mmSeq}
	</update>
	
	<delete id="delete">
		delete from member
		where 1=1
			and mmSeq = #{mmSeq}
	</delete>
	<sql id="selectCommon">
	FROM
	 member mm
	where 1=1
	<if test="shmmDelNy != null and !shmmDelNy.equals('')">and mmDelNy = #{shmmDelNy}</if>
	<if test="shmmUseNy != null and !shmmUseNy.equals('')">and mmUseNy = #{shmmUseNy}</if>
	<choose>
		<when test="shOption == 1">and mmSeq = #{shValue}</when>
		<when test="shOption == 2">and mmRealName like concat('%',#{shValue},'%')</when>
		<when test="shOption == 3">and mmNickName like concat('%',#{shValue},'%')</when>
		<when test="shOption == 4">and mmBirthDay like concat('%',#{shValue},'%')</when>
		<when test="shOption == 5">and mmEmail like concat('%',#{shValue},'%')</when>
		<when test="shOption == 6">and mmTell like concat('%',#{shValue},'%')</when>
	</choose>
	<choose>
		<when test="shOptionDate == 1">AND mm.mmDate BETWEEN #{shDateStart} AND #{shDateEnd} </when>
		<when test="shOptionDate == 2">AND mm.mmFixDate BETWEEN #{shDateStart} AND #{shDateEnd} </when>
	</choose>
	</sql>
	
	<select id="selectOneCount">
		select count(*)
		<include refid="selectCommon"></include>
	</select>
	<!-- 유저정보수정  -->
	<update id="updateFixUsr">
		update member
		set
			mmId = #{mmId}
			,mmNickName = #{mmNickName}
			,mmEmail = #{mmEmail}
			,mmTell = #{mmTell}
			,mmBirthDay = #{mmBirthDay}
			,mmFixDate = now()
		where 1=1
			and mmSeq = #{mmSeq}
	</update>
	<!-- 유저 비밀번호 변경 -->
	<update id="updateFixPasswd">
		update member
		set
			mmPasswd = #{mmPasswd}
			,mmFixDate = now()
		where 1=1
			and mmSeq = #{mmSeq}
	</update>
	
	<!-- 유저정보수정불러오기  -->
	<select id="selectOneFixUsr" resultMap ="resultMapObj">
		select
		mm.mmSeq
		,mm.mmNickName
		,mm.mmEmail
		,mm.mmTell
		,mm.mmBirthDay
		,mm.mmFixDate
		,mm.mmId
		from
			member mm
		where 1=1
		and mm.mmSeq = #{mmSeq}
	</select>
	  
</mapper>