<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.order.OrderDao">
					<!-- mapper와 연결될 Dao |ctrl + shift + c-->
					
	<resultMap type="com.loras.infra.order.OrderDto" id="resultMapObj"></resultMap>
	
	<select id="orderList">
		SELECT 
			od.odSituation
			,od.odDate
			,od.product_pdSeq
			,od.address_adSeq
			,pd.pdName
			,pd.pdPrice
			,ad.adName
			,ad.ad1
			,ad.ad2
			,ad.ad3
			,pd.pdSeq
		FROM orders od
		LEFT JOIN product pd
		ON od.product_pdSeq = pd.pdSeq
		LEFT JOIN address ad
		ON od.address_adSeq = ad.adSeq
		WHERE 1=1
		AND ad.member_mmSeq = #{mmSeq}	
	</select>
	 
	
	
	
	
</mapper>