<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.product.ProductDao">
					<!-- mapper와 연결될 Dao |ctrl + shift + c-->
					
<resultMap type="com.loras.infra.product.ProductDto" id="resultMapObj"></resultMap>
	<select id="productList" resultMap="resultMapObj">
select pd.* from(
	SELECT
		pd.pdSeq
		,pd.pdName
		,pd.pdPrice
		,pd.pdUseNy
		,pd.pdDelNy
		,pd.pdDate
		,pd.pdFixDate
		,pd.pdDesc
		,pd.pdType
		,pd.pdMeat
		<include refid="selectCommon"></include>
	ORDER BY
		pd.pdSeq DESC
	) pd
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<insert id="insert">
		INSERT INTO product(
			pdName
			,pdPrice
			,pdUseNy
			,pdDelNy
			,pdDate
			,pdFixDate
			,pdDesc
			,pdType
			,pdMeat
			)values(
			#{pdName}
			,#{pdPrice}
			,#{pdUseNy}
			,0
			,now()
			,now()
			,#{pdDesc}
			,#{pdType}
			,#{pdMeat}
			)
			<selectKey resultType="String" keyProperty="pdSeq" order="AFTER">
			SELECT last_insert_id()
		 </selectKey>
	</insert>
	
	<select id="SelectOne" resultMap="resultMapObj">
	SELECT
		pd.pdSeq
		,pd.pdName
		,pd.pdPrice
		,pd.pdUseNy
		,pd.pdDelNy
		,pd.pdDesc
		,pd.pdDate
		,pd.pdFixDate
		,pd.pdType
		,pd.pdMeat
		
	FROM 
		product pd
	WHERE 1=1
	AND pd.pdSeq = #{pdSeq}
	</select>
	
	<update id="update">
	UPDATE product
	SET
		pdName = #{pdName}
		,pdPrice = #{pdPrice}
		,pdUseNy = #{pdUseNy}
		,pdDesc = #{pdDesc}
		,pdType = #{pdType}
		,pdMeat = #{pdMeat}
		,pdFixDate = now()
	WHERE 1=1
		AND pdSeq = #{pdSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM product
		WHERE 1=1
		AND pdSeq = #{pdSeq}
	</delete>
	
	<sql id="selectCommon">
	FROM
	 product pd
	WHERE 1=1
	<if test="shpdDelNy != null and !shpdDelNy.equals('')">and pdDelNy = #{shpdDelNy}</if>
	<if test="shpdUseNy != null and !shpdUseNy.equals('')">and pdUseNy = #{shpdUseNy}</if>
	<choose>
		<when test="shOption == 1">AND pdSeq = #{shValue}</when>
		<when test="shOption == 2">AND pdName LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 3">AND pdPrice LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 4">AND pdType LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 5">AND pdMeat LIKE CONCAT('%',#{shValue},'%')</when>
	</choose>
	<choose>
		<when test="shOptionDate == 1">AND pd.pdDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		<when test="shOptionDate == 2">AND pd.pdFixDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
	</choose>
	<if test="shLowPrice and shTopPrice">AND pd.pdPrice BETWEEN #{shLowPrice} AND #{shTopPrice}</if>
	<if test="shName">AND pdName LIKE CONCAT('%',#{shName},'%')</if>
	</sql>
	
	<select id="selectOneCount">
	select count(*)
	<include refid="selectCommon"></include>
	</select>
	
	<select id="rvSelectList">
		SELECT 
			rv.rvSeq
			,rv.rvRank
			,rv.rvComment
			,rv.rvDate
			,rv.rvFixDate
			,rv.product_pdSeq
			,rv.member_mmSeq
			,mm.mmSeq
			,mm.mmNickName
			,mm.mmRealName
		FROM review rv
		LEFT JOIN member mm
		ON rv.member_mmSeq = mm.mmSeq
        LEFT JOIN product pd
        ON rv.product_pdSeq = pd.pdSeq
	</select>
	<insert id="rvInsert">
	INSERT INTO review(
		rvRank
		,rvComment
		,rvUseNy
		,rvDelNy
		,rvDate
		,rvFixDate
		,product_pdSeq
		,member_mmSeq
		)VALUES(
		#{rvRank}
		,#{rvComment}
		,1
		,0
		,now()
		,now()
		,#{product_pdSeq}
		,#{member_mmSeq}
		)
	</insert>
	
	
</mapper>