<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.product.ProductDao">
					<!-- mapper와 연결될 Dao |ctrl + shift + c-->
					
<resultMap type="com.loras.infra.product.ProductDto" id="resultMapObj"></resultMap>
	<select id="productList" resultMap="resultMapObj">
select pd.* from(
	SELECT
		pd.pdSeq
		,pd.pdName
		,pd.pdPrice
		,pd.pdUseNy
		,pd.pdDelNy
		,pd.pdDate
		,pd.pdFixDate
		,pd.pdDesc
		,pd.pdType
		,pd.pdMeat
		,wh.whSeq
		,path
		<include refid="selectCommon"></include>
	ORDER BY
		pd.pdSeq DESC
	) pd
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<insert id="insert">
		INSERT INTO product(
			pdName
			,pdPrice
			,pdUseNy
			,pdDelNy
			,pdDate
			,pdFixDate
			,pdDesc
			,pdType
			,pdMeat
			)values(
			#{pdName}
			,#{pdPrice}
			,#{pdUseNy}
			,0
			,now()
			,now()
			,#{pdDesc}
			,#{pdType}
			,#{pdMeat}
			)
			<selectKey resultType="String" keyProperty="pdSeq" order="AFTER">
			SELECT last_insert_id()
		 </selectKey>
	</insert>
	
	<select id="SelectOne" resultMap="resultMapObj">
	SELECT
		pd.pdSeq
		,pd.pdName
		,pd.pdPrice
		,pd.pdUseNy
		,pd.pdDelNy
		,pd.pdDesc
		,pd.pdDate
		,pd.pdFixDate
		,pd.pdType
		,pd.pdMeat
	FROM 
		product pd
	WHERE 1=1
	AND pd.pdSeq = #{pdSeq}
	</select>
	
	<update id="update">
	UPDATE product
	SET
		pdName = #{pdName}
		,pdPrice = #{pdPrice}
		,pdUseNy = #{pdUseNy}
		,pdDesc = #{pdDesc}
		,pdType = #{pdType}
		,pdMeat = #{pdMeat}
		,pdFixDate = now()
	WHERE 1=1
		AND pdSeq = #{pdSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM product
		WHERE 1=1
		AND pdSeq = #{pdSeq}
	</delete>
	
	<sql id="selectCommon">
	FROM
	 product pd
 	LEFT JOIN wishlist wh
 	ON pd.pdSeq = wh.product_pdSeq
 	LEFT JOIN insertuploaded
 	ON pSeq = pd.pdSeq
	WHERE 1=1
	and defaultNy = 1
	
	<if test="shpdDelNy != null and !shpdDelNy.equals('')">and pdDelNy = #{shpdDelNy}</if>
	<if test="shpdUseNy != null and !shpdUseNy.equals('')">and pdUseNy = #{shpdUseNy}</if>
	<choose>
		<when test="shOption == 1">AND pdSeq = #{shValue}</when>
		<when test="shOption == 2">AND pdName LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 3">AND pdPrice LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 4">AND pdType LIKE CONCAT('%',#{shValue},'%')</when>
		<when test="shOption == 5">AND pdMeat LIKE CONCAT('%',#{shValue},'%')</when>
	</choose>
	<choose>
		<when test="shOptionDate == 1">AND pd.pdDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		<when test="shOptionDate == 2">AND pd.pdFixDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
	</choose>
	<if test="(shLowPrice != null and shLowPrice != 0) or (shTopPrice != null and shTopPrice != 0)">
    	AND pd.pdPrice BETWEEN #{shLowPrice} AND #{shTopPrice}
	</if>

	<if test="shPdMeat != null and !shPdMeat.equals('')">and pdMeat = #{shPdMeat}</if>
	<if test="shPdType != null and !shPdType.equals('')">and pdType = #{shPdType}</if>
	<if test="shName != null and !shName.equals('')">AND pdName LIKE CONCAT('%', #{shName}, '%')</if>
	</sql>
	
	<select id="selectOneCount">
	select count(*)
	<include refid="selectCommon"></include>
	</select>
	
  <select id="rvSelectList">
		SELECT 
			rv.rvSeq
			,rv.rvRank
			,rv.rvComment
			,rv.rvDate
			,rv.rvFixDate
			,rv.product_pdSeq
			,rv.member_mmSeq
			,mm.mmSeq
			,mm.mmNickName
			,mm.mmRealName
		FROM review rv
		LEFT JOIN member mm
		ON rv.member_mmSeq = mm.mmSeq
        LEFT JOIN product pd
        ON rv.product_pdSeq = pd.pdSeq
        where 1=1
        and rv.product_pdSeq = #{pdSeq}
	</select>
	
	<insert id="insertWish">
		INSERT INTO wishlist(
			member_mmSeq
			,product_pdSeq
		)VALUES(
			#{member_mmSeq}
			,#{product_pdSeq}	
		)
	</insert>
	<delete id="deleteWish">
		DELETE FROM wishlist
		WHERE 1=1
		AND whSeq = #{whSeq}
	</delete>
	
	<select id="selectWishList">
		SELECT
			wh.whSeq
			,wh.member_mmSeq
			,wh.product_pdSeq
			,mm.mmSeq
			,pd.pdSeq
			,pd.pdName
			,pd.pdPrice
		FROM wishlist wh
		LEFT JOIN member mm
		ON wh.member_mmSeq = mm.mmSeq
		LEFT JOIN product pd
		ON wh.product_pdSeq = pd.pdSeq
		WHERE 1=1
		AND wh.member_mmSeq = #{mmSeq}
	</select>
	
	<insert id="insertUploaded">
		insert into insertUploaded(
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuId
			,ext
			,size
			,delNy
			,pSeq
			,regDate
			,modDate
		)values(
			#{type}
			,0
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuId}
			,#{ext}
			,#{size}
			,0
			,#{pSeq}
			,now()
			,now()
		)
	</insert>
	
	<select id="selectImgList" resultMap="resultMapObj">
		SELECT
				pd.pdSeq
				,path
				,pSeq
		FROM product pd
		LEFT JOIN insertUploaded
		ON pd.pdSeq = pSeq
		where 1=1
		AND pdSeq = #{pdSeq}
		and defaultNy = 1
		
	</select>
	
	<select id="selectImgList2" resultMap="resultMapObj">
	    SELECT
	        pd.pdSeq
	        ,path
	        ,pSeq
	    FROM product pd
	    LEFT JOIN insertUploaded
	    ON pd.pdSeq = pSeq
	    WHERE 1=1
	    AND pdSeq = #{pdSeq}
	    AND sort >= 17  
	</select>
	
	
	
	

	
	
	
</mapper>