<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.signup.SignUpDao">

<resultMap type="com.loras.infra.signup.SignUpDto" id="resultMapObj"></resultMap>

	<insert id="insert">
		INSERT INTO member(
			mmRealName
			,mmNickName
			,mmEmail
			,mmTell
			,mmBirthDay
			,mmDelNy
			,mmUseNy
			,mmDate
			,mmFixDate
			,mmGender
			,mmId
			,mmPasswd
			)values(
			#{mmRealName}
			,#{mmNickName}
			,#{mmEmail}
			,#{mmTell}
			,#{mmBirthDay}
			,0
			,1
			,now()
			,now()
			,#{mmGender}
			,#{mmId}
			,#{mmPasswd}
			)
	</insert>

</mapper>