<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loras.infra.code.userDao">
<resultMap type="com.loras.infra.code.userDto" id="resultMapObj"></resultMap>
<select id="userSelectList" resultMap="resultMapObj">
	select
		c.seq
		,c.Name
		,c.adminNy
		,c.id
		,c.passwd
		,c.gender
		,c.birthday
		,c.email
		,c.phone
		,c.urDesc
		,c.dateTime
		,c.fixDate
	from
		user c
	order by
		c.seq desc
</select>

<insert id="insert">
	insert into user(
		adminNy
		,Name
		,id
		,passwd
		,gender
		,birthday
		,email
		,phone
		,urDesc
		,dateTime
		,fixDate
		)
	values(
		#{adminNy}
		,#{Name}
		,#{id}
		,#{passwd}
		,#{gender}
		,#{birthday}
		,#{email}
		,#{phone}
		,#{urDesc}
		,now()
		,now()
		)
</insert>
	  
</mapper>