<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/usr/img/pages/icon.png" type="image/png">
        <title>Pages</title>
        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="/usr/vender/bootstrap/css/bootstrap.min.css">
        <!-- Icofont Css -->
        <link rel="stylesheet" href="/usr/vender/icofont/icofont.min.css">
        <!-- AOS Css -->
        <link rel="stylesheet" href="/usr/vender/aos/dist/aos.css">
        <!-- Remix Icons -->
        <link rel="stylesheet" href="/usr/vender/remixicon/remixicon.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="/usr/vender/css/style.css">
        <!-- Common Css -->
        <link rel="stylesheet" href="/usr/css/common.css">
    </head>
    <body>
       <div th:replace="~{usr/v1/infra/include/profileHead :: profileHead}"></div>
        
        <div class="osahan-user-header">  
        </div>
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div th:replace="~{usr/v1/infra/include/profile :: profile}"></div>
                    <div class="col-lg-8 ps-lg-0">
                        <div class="ps-lg-5 pt-lg-5">
                            <div class="d-flex align-items-center justify-content-between w-100 mb-5">
                                <h1 class="m-0 fw-bold"></h1>
                            </div>
                            <div>
                                <div>
                                    <ul class="nav nav-pills align-items-center justify-content-center bg-light order-tabs mb-4 rounded-3 p-2 purple-tab nav-fill" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button
                                                class="nav-link py-2 px-4 active"
                                                id="pills-in-progress-tab"
                                                data-bs-toggle="pill"
                                                data-bs-target="#pills-in-progress"
                                                type="button"
                                                role="tab"
                                                aria-controls="pills-in-progress"
                                                aria-selected="true"
                                            >
                                                In Progress(주문)
                                            </button>
                                        </li>
                                        <!-- <li class="nav-item" role="presentation">
                                            <button
                                                class="nav-link py-2 px-4"
                                                id="pills-order-history-tab"
                                                data-bs-toggle="pill"
                                                data-bs-target="#pills-order-history"
                                                type="button"
                                                role="tab"
                                                aria-controls="pills-order-history"
                                                aria-selected="false"
                                                tabindex="-1"
                                            >
                                                Order History(주문처리)
                                            </button>
                                        </li> -->
                                        <li class="nav-item" role="presentation">
                                            <button
                                                class="nav-link py-2 px-4"
                                                id="pills-return-requests-tab"
                                                data-bs-toggle="pill"
                                                data-bs-target="#pills-return-requests"
                                                type="button"
                                                role="tab"
                                                aria-controls="pills-return-requests"
                                                aria-selected="false"
                                                tabindex="-1"
                                            >
                                                Return Requests(환불)
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade active show" id="pills-in-progress" role="tabpanel" aria-labelledby="pills-in-progress-tab" tabindex="0">
                                            <div class="mb-4">
                                                <div class="d-flex align-items-center justify-content-between mb-4 border-bottom pb-4">
                                                    <h4 class="fw-bold m-0">order(주문목록)</h4>
                                                    <a href="#" class="btn btn-outline-dark rounded-3"> <i class="ri-printer-line"></i> </a>
                                                </div>
                                                <form method="post" action="/usr/v1/infra/order/OrderReturnUpte">
                                                <div class="bg-white">
                                                    <div class="pb-4 border-bottom mb-4"  th:each="list : ${list}">
                                                    	
                                                        <div class="row">
                                                            <div class="col-xl-2 col-lg-3 col-md-3 col-4">
                                                        	<input type="radio" name="odSeq" th:value="${list.odSeq}">
                                                                <img src="/usr/img/pages/products/product-1.jpg" class="img-fluid rounded-3" alt="deliverd-order">
                                                            </div>
                                                            <div class="col-xl-10 col-lg-9 col-md-9 col-8">
                                                                <div class="card-body d-flex align-items-start justify-content-between">
                                                                    <div>
                                                                        <span class="px-3 py-2 rounded-pill bg-opacity-purple text-purple mb-3 badge"> <span class="fw-bold"
                                                                        th:text="${@codeService.selectOneCachedCode(list.odSituation)}"></span></span>
                                                                        <h6 class="card-title fw-bold mb-1" th:text="${list.pdName}">상품</h6>
                                                                        <p class="card-text"><small class="text-body-secondary"
                                                                        th:text="'주문일자 ' + ${#dates.format(list.odDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></small></p>
                                                                        <h5 class="card-text fw-bold mb-0" th:text="${list.pdPrice}"></h5>
                                                                    </div>
                                                                    <div>
                                                                    	<a th:href="@{/usr/v1/infra/productUsrDetail/productUsrDetail(pdSeq=${list.pdSeq})}"  class="btn btn-outline-purple btn-theme rounded-pill" style="display: block; margin-bottom: 10px;">다시구매하기</a>
                                                                    	<button type="submit" class="btn btn-outline-purple btn-theme rounded-pill" style="display: block; margin-bottom: 10px;"> 상품환불하기</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                         <input type="hidden" th:value="${list.odSituation}">
                                                    </div>
                                                </div>
                                               
                                        		</form>
                                            </div>
                                        </div>
                                        <!-- <div class="tab-pane fade" id="pills-order-history" role="tabpanel" aria-labelledby="pills-order-history-tab" tabindex="0">
                                            <h4 class="fw-bold mb-4 border-bottom pb-4">Order History(주문처리)</h4>
                                            <div>
                                                <div class="pb-4 border-bottom mb-4">
                                                    <div class="row">
                                                        <div class="col-xl-2 col-lg-3 col-md-3 col-4">
                                                            <img src="../img/pages/products/product-3.jpg" class="img-fluid rounded-3" alt="cart-item">
                                                        </div>
                                                        <div class="col-xl-10 col-lg-9 col-md-9 col-8">
                                                            <div class="card-body d-flex align-items-start justify-content-between">
                                                                <div>
                                                                    <span class="px-3 py-2 rounded-pill bg-opacity-purple text-purple mb-3 badge">진행중</span>
                                                                    <h6 class="card-title fw-bold mb-1">Travis Scott Sweatshirts &amp; Hoodies</h6>
                                                                    <p class="card-text mb-1"><small class="text-body-secondary">Size: XL, Colour: Blue</small></p>
                                                                    <h5 class="card-text fw-bold mb-0 pb-4"><del class="text-dark-emphasis fw-normal small">$2,299.00</del> $1,269.00</h5>
                                                                    <div>
                                                                        <h6 class="fw-bold mb-1">Delivery expected between Mon, Oct 05 and Thu, Oct 08</h6>
                                                                        <p class="small text-secondary-emphasis mb-0">Your item has been received in the hub nearest to you</p>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="btn btn-outline-dark rounded-3"> <i class="ri-hourglass-fill"></i> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-4 border-bottom mb-4">
                                                    <div class="row">
                                                        <div class="col-xl-2 col-lg-3 col-md-3 col-4">
                                                            <img src="../img/pages/products/product-4.jpg" class="img-fluid rounded-3" alt="cart-item">
                                                        </div>
                                                        <div class="col-xl-10 col-lg-9 col-md-9 col-8">
                                                            <div class="card-body d-flex align-items-start justify-content-between">
                                                                <div>
                                                                    <span class="px-3 py-2 rounded-pill bg-opacity-purple text-purple mb-3 badge"></span>
                                                                    <h6 class="card-title fw-bold mb-1">Vintage Grateful Dead Lithu</h6>
                                                                    <p class="card-text mb-1"><small class="text-body-secondary">Size: XL, Colour: Blue</small></p>
                                                                    <h5 class="card-text fw-bold mb-0 pb-4">$2,269.00</h5>
                                                                    <div>
                                                                        <h6 class="fw-bold mb-1">Delivery on Aug 25</h6>
                                                                        <p class="small text-secondary-emphasis mb-0">Your item has been delivered</p>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="btn btn-outline-dark rounded-3"> <i class="ri-checkbox-circle-fill"></i> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-4 mb-4">
                                                    <div class="row">
                                                        <div class="col-xl-2 col-lg-3 col-md-3 col-4">
                                                            <img src="../img/pages/products/product-5.jpg" class="img-fluid rounded-3" alt="cart-item">
                                                        </div>
                                                        <div class="col-xl-10 col-lg-9 col-md-9 col-8">
                                                            <div class="card-body d-flex align-items-start justify-content-between">
                                                                <div>
                                                                    <span class="px-3 py-2 rounded-pill bg-opacity-purple text-purple mb-3 badge">취소됨</span>
                                                                    <h6 class="card-title fw-bold mb-1">Travis Scott Sweatshirts &amp; Hoddies</h6>
                                                                    <p class="card-text mb-1"><small class="text-body-secondary">Size: XL, Colour: Blue</small></p>
                                                                    <h5 class="card-text fw-bold mb-0 pb-4">$4,269.00</h5>
                                                                    <div>
                                                                        <h6 class="fw-bold mb-1">Cancelled</h6>
                                                                        <p class="small text-secondary-emphasis mb-0">As per your request, your item has been cancelled</p>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="btn btn-outline-dark rounded-3"> <i class="ri-emotion-normal-fill"></i> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- return request -->
                                        <form method="post" action="/usr/v1/infra/order/OrderReturnUpte">
                                        <div class="tab-pane fade" id="pills-return-requests" role="tabpanel" aria-labelledby="pills-return-requests-tab" tabindex="0">
                                            <h4 class="fw-bold mb-4 border-bottom pb-4">Return Request(환불)</h4>
                                            <div>
                                                <div class="pb-4 border-bottom mb-4"  th:each="returnList : ${returnList}">
                                                        <div class="row" >
                                                            <div class="col-xl-2 col-lg-3 col-md-3 col-4">
                                                                <img src="/usr/img/pages/products/product-1.jpg" class="img-fluid rounded-3" alt="deliverd-order">
                                                            </div>
                                                            <div class="col-xl-10 col-lg-9 col-md-9 col-8">
                                                                <div class="card-body d-flex align-items-start justify-content-between">
                                                                    <div>
                                                                        <span class="px-3 py-2 rounded-pill bg-opacity-purple text-purple mb-3 badge"> <span class="fw-bold"
                                                                        th:text="${@codeService.selectOneCachedCode(returnList.odSituation)}"></span></span>
                                                                        <h6 class="card-title fw-bold mb-1" th:text="${returnList.pdName}">상품</h6>
                                                                        <p class="card-text"><small class="text-body-secondary"
                                                                        th:text="'주문일자 ' + ${#dates.format(returnList.odDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></small></p>
                                                                        <h5 class="card-text fw-bold mb-0" th:text="${returnList.pdPrice}"></h5>
                                                                    </div>
                                                                    <div>
                                                                    	<a th:href="@{/usr/v1/infra/productUsrDetail/productUsrDetail(pdSeq=${returnList.pdSeq})}"  class="btn btn-outline-purple btn-theme rounded-pill" style="display: block; margin-bottom: 10px;">다시구매하기</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                   	</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer class="bg-footer text-white">
            <div class="bg-black py-4">
                <div class="container">
                    <div class="row g-4 py-4">
                        <div class="col-lg-3 col-6">
                            <h5 class="fw-bold pb-3">고객센터</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>number: 02-0000-0000</li>
                                <li>Fax: +1800-964-152</li>
                                <li>Email: tjsdn2587@gmail.com</li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-12">
                            <h5 class="fw-bold pb-3">영업 시간</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>월 - 금: 10am - 8pm</li>
                                <li>토: 10am - 4pm</li>
                                <li>일: 휴무</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="bg-light py-4 footer-copyright">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <p class="text-center text-muted m-0">Copyright 2024 <a href="#" class="text-black"> Tony Chang all rights reserved.</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            
		<script type="text/javascript">
		document.getElementById("logout").onclick = function (){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/usr/v1/infra/login/logoutUsrFormProc"
				,success: function(response) {
					if(response.rt == "success") {
					location.href ="/usr/v1/infra/login/loginUsrForm";
					}else {
					   	
				    }
				}	
			});
		}		
		</script>
        <!-- Bootsrap Bundle Js -->
        <script src="/usr/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Jquery Js -->
        <script src="/usr/vender/jquery/jquery-3.6.4.min.js"></script>
        <!-- AOS Js -->
        <script src="/usr/vender/aos/dist/aos.js"></script>
        <!-- Custom Js -->
        <script src="/usr/js/script.js"></script>
    </body>
</html>
