<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Meta -->
<meta name="description" content="Best Bootstrap Admin Dashboards">
<meta name="author" content="Bootstrap Gallery" />
<link rel="canonical" href="https://www.bootstrap.gallery/">
<meta property="og:url" content="https://www.bootstrap.gallery">
<meta property="og:title"
	content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
<meta property="og:description"
	content="Marketplace for Bootstrap Admin Dashboards">
<meta property="og:type" content="Website">
<meta property="og:site_name" content="Bootstrap Gallery">
<link rel="shortcut icon"
	href="/xdm/v1/template/Arise/assets/images/favicon.svg">

<!-- Title -->
<title>Bootstrap Admin Dashboards</title>


<!-- *************
			************ Common Css Files *************
		************ -->
<!-- Animated css -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/css/animate.css">

<!-- Bootstrap font icons css -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/fonts/bootstrap/bootstrap-icons.css">

<!-- Main css -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/css/main.min.css">


<!-- *************
			************ Vendor Css Files *************
		************ -->

<!-- Scrollbar CSS -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">

<!-- Data Tables -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/vendor/datatables/dataTables.bs5.css" />
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/vendor/datatables/dataTables.bs5-custom.css" />
<!--by developer  -->
<link rel ="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css" />
			
<style>
.member {
	
}

td, th {
	height: 50px;
	text-align: center;
}
</style>

</head>

<body>
	<form name ="formList" method = "post" action ="/xdm/v1/infra/member/memberList" autocomplete="off">
	<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
	<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
	<!-- Loading wrapper start -->
	<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
	<!-- Loading wrapper end -->

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Sidebar wrapper start -->
		<nav class="sidebar-wrapper" style="text-align: ce;">

			<!-- Sidebar brand starts -->
			<div class="sidebar-brand">
				<a href="index.html" class="logo"> <img
					src="/xdm/v1/template/Arise/assets/images/logo.svg"
					alt="Admin Dashboards" />
				</a>
			</div>
			<!-- Sidebar brand starts -->

			<!-- Sidebar menu starts -->
			<div class="sidebar-menu">
				<div class="sidebarMenuScroll">
					<ul>
						<li class="sidebar-dropdown"><a href="#"> <i
								class="bi bi-house"></i> <span class="menu-text">Dashboards</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="index.html">Analytics</a></li>
									<li><a href="reports.html">Reports</a></li>
								</ul>
							</div></li>
						<li class="sidebar-dropdown"><a href="#"> <i
								class="bi bi-handbag"></i> <span class="menu-text">Product</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="orders.html">Order History</a></li>
									<li><a href="products.html">Products</a></li>
									<li><a href="view-cart.html">Shopping Cart</a></li>
									<li><a href="checkout.html">Billing Details</a></li>
									<li><a href="customers.html">Customers</a></li>
									<li><a href="add-product.html">Add Product</a></li>
									<li><a href="reviews.html">Reviews</a></li>
								</ul>
							</div></li>
						<li class="sidebar-dropdown"><a href="#"> <i
								class="bi bi-gem"></i> <span class="menu-text">Widgets</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="widgets.html">Widgets</a></li>
									<li><a href="graph-widgets.html">Graph Widgets</a></li>
								</ul>
							</div></li>
						<li class="sidebar-dropdown"><a href="#"> <i
								class="bi bi-collection"></i> <span class="menu-text">UI
									Elements</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="accordions.html">Accordions</a></li>
									<li><a href="alerts.html">Alerts</a></li>
									<li><a href="buttons.html">Buttons</a></li>
									<li><a href="badges.html">Badges</a></li>
									<li><a href="cards.html">Cards</a></li>
									<li><a href="carousel.html">Carousel</a></li>
									<li><a href="dropdowns.html">Dropdowns</a></li>
									<li><a href="icons.html">Icons</a></li>
									<li><a href="modals.html">Modals</a></li>
									<li><a href="offcanvas.html">Off Canvas</a></li>
									<li><a href="progress.html">Progress Bars</a></li>
									<li><a href="spinners.html">Spinners</a></li>
									<li><a href="tabs.html">Tabs</a></li>
									<li><a href="tooltips.html">Tooltips</a></li>
									<li><a href="typography.html">Typography</a></li>
								</ul>
							</div></li>
						<li class="sidebar-dropdown"><a href="#"> <i
								class="bi bi-stickies"></i> <span class="menu-text">Pages</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="profile.html">Profile</a></li>
									<li><a href="account-settings.html">Account Settings</a></li>
								</ul>
							</div></li>
						<li><a href="calendar.html"> <i class="bi bi-calendar4"></i>
								<span class="menu-text">Calendar</span>
						</a></li>
						<li class="sidebar-dropdown"><a href="#"> <i
								class="bi bi-columns-gap"></i> <span class="menu-text">Forms</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="form-inputs.html">Form Inputs</a></li>
									<li><a href="form-checkbox-radio.html">Checkbox &amp;
											Radio</a></li>
									<li><a href="form-file-input.html">File Input</a></li>
									<li><a href="form-validations.html">Validations</a></li>
									<li><a href="bs-select.html">Bootstrap Select</a></li>
									<li><a href="date-time-pickers.html">Date Time Pickers</a>
									</li>
									<li><a href="input-mask.html">Input Masks</a></li>
									<li><a href="editor.html">Editor</a></li>
									<li><a href="form-layout1.html">Form Layout</a></li>
									<li><a href="form-layout2.html">Form Layout 2</a></li>
									<li><a href="form-layout3.html">Form Layout 3</a></li>
									<li><a href="form-layout4.html">Form Horizontal</a></li>
									<li><a href="form-layout5.html">Form Layout Tabs</a></li>
								</ul>
							</div></li>
						<li class="sidebar-dropdown active"><a href="#"> <i
								class="bi bi-window-split"></i> <span class="menu-text">Tables</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="tables.html">Tables</a></li>
									<li><a href="data-tables.html" class="current-page">Data
											Tables</a></li>
								</ul>
							</div></li>
						<li class="sidebar-dropdown"><a href="#"> <i
								class="bi bi-pie-chart"></i> <span class="menu-text">Graphs
									&amp; Maps</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="apex.html">Apex</a></li>
									<li><a href="morris.html">Morris</a></li>
									<li><a href="maps.html">Maps</a></li>
								</ul>
							</div></li>
						<li class="sidebar-dropdown"><a href="#"> <i
								class="bi bi-layout-sidebar"></i> <span class="menu-text">Layouts</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="layout.html">Default Layout</a></li>
									<li><a href="layout-grid.html">Grid Layout</a></li>
									<li><a href="layout-welcome.html">Welcome Layout</a></li>
								</ul>
							</div></li>
						<li class="sidebar-dropdown"><a href="#"> <i
								class="bi bi-x-diamond"></i> <span class="menu-text">Authentication</span>
						</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="login.html">Login</a></li>
									<li><a href="signup.html">Signup</a></li>
									<li><a href="error.html">Error</a></li>
									<li><a href="maintenance.html">Maintenance</a></li>
								</ul>
							</div></li>
						<li><a href="starter-page.html"> <i
								class="bi bi-hand-index-thumb"></i> <span class="menu-text">Link</span>
						</a></li>
					</ul>
				</div>
			</div>
			<!-- Sidebar menu ends -->

		</nav>
		<!-- Sidebar wrapper end -->

		<!-- *************
				************ Main container start *************
			************* -->
		<div class="main-container">

			<!-- Page header starts -->
			<div class="page-header">

				<div class="toggle-sidebar" id="toggle-sidebar">
					<i class="bi bi-list"></i>
				</div>

				<!-- Breadcrumb start -->

				<!-- Breadcrumb end -->

				<!-- Header actions ccontainer start -->
				<div class="header-actions-container">

					<!-- Search container start -->
					<div class="search-container">

						<!-- Search input group start -->
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search anything">
							<button class="btn" type="button">
								<i class="bi bi-search"></i>
							</button>
						</div>
						<!-- Search input group end -->

					</div>
					<!-- Search container end -->

					<!-- Leads start -->
					<a href="orders.html" class="leads d-none d-xl-flex">
						<div class="lead-details">
							You have <span class="count"> 21 </span> new leads
						</div> <span class="lead-icon"><i
							class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i><b
							class="dot animate__animated animate__heartBeat animate__infinite"></b></span>
					</a>
					<!-- Leads end -->

					<!-- Header actions start -->
					<ul class="header-actions">
						<li class="dropdown d-none d-md-block"><a href="#"
							id="countries" data-toggle="dropdown" aria-haspopup="true"> <img
								src="/xdm/v1/template/Arise/assets/images/flags/1x1/br.svg"
								class="flag-img" alt="Admin Panels" />
						</a>
							<div class="dropdown-menu dropdown-menu-end mini"
								aria-labelledby="countries">
								<div class="country-container">
									<a href="index.html"> <img
										src="/xdm/v1/template/Arise/assets/images/flags/1x1/us.svg"
										alt="Clean Admin Dashboards" />
									</a> <a href="index.html"> <img
										src="/xdm/v1/template/Arise/assets/images/flags/1x1/in.svg"
										alt="Google Dashboards" />
									</a> <a href="index.html"> <img
										src="/xdm/v1/template/Arise/assets/images/flags/1x1/gb.svg"
										alt="AI Admin Dashboards" />
									</a> <a href="index.html"> <img
										src="/xdm/v1/template/Arise/assets/images/flags/1x1/tr.svg"
										alt="Modern Dashboards" />
									</a> <a href="index.html"> <img
										src="/xdm/v1/template/Arise/assets/images/flags/1x1/ca.svg"
										alt="Best Admin Dashboards" />
									</a>
								</div>
							</div></li>
						<li class="dropdown"><a href="#" id="userSettings"
							class="user-settings" data-toggle="dropdown" aria-haspopup="true">
								<span class="user-name d-none d-md-block">Abigale Heaney</span>
								<span class="avatar"> <img
									src="/xdm/v1/template/Arise/assets/images/user.png"
									alt="Admin Templates"> <span class="status online"></span>
							</span>
						</a>
							<div class="dropdown-menu dropdown-menu-end"
								aria-labelledby="userSettings">
								<div class="header-profile-actions">
									<a href="profile.html">Profile</a> <a
										href="account-settings.html">Settings</a> <a href="login.html">Logout</a>
								</div>
							</div></li>
					</ul>
					<!-- Header actions end -->

				</div>
				<!-- Header actions ccontainer end -->

			</div>
			<!-- Page header ends -->

			<!-- Content wrapper scroll start -->
			<div class="content-wrapper-scroll">

				<!-- Content wrapper start -->
				<div class="content-wrapper">


					<!-- Card start -->
					<div class="card">

						<div class="card-header" style="display: block;"></div>







						<div class="card-body">

							<ol class="breadcrumb d-md-flex d-none">
								<li class="breadcrumb-item"><i class="bi bi-house"></i> <a
									href="index.html">page1</a></li>
								<li class="breadcrumb-item">page2</li>
								<li class="breadcrumb-item breadcrumb-active"
									aria-current="page">Default</li>
							</ol>
							<a href="/xdm/v1/infra/member/memberList"><h2 style="height: 80px;">member</h2></a>
							<!-- 검색 -->
							<div class="card-title">

								<div class="row">
									<div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-3">
											<select class="form-select" id="inputIndustryType" name ="shmmDelNy">
												<option value="" >삭제여부</option>
												<option value="0" name="shmmDelNy">N</option>
												<option value="1" name="shmmDelNy">Y</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-3">
											<select class="form-select" id="inputIndustryType" name ="shmmUseNy">
												<option value="" >사용여부</option>
												<option value="0" name ="shmmUseNy">N</option>
												<option value="1" name ="shmmUseNy">Y</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-3">
											<select class="form-select" id="inputIndustryType" name ="shOptionDate">
												<option value="">날짜선택</option>
												<option value="1" name="shOptionDate">등록일</option>
												<option value="2" name="shOptionDate">수정일</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3">
										<div class="mb-2">
											<input type="text"  class="form-control" 
											name="shDateStart" id="shDateStart" placeholder="시작일">
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-2">
											<input type="text" class="form-control"
											name="shDateEnd" id="shDateEnd" placeholder="종료일">
										</div>
									</div>
								</div>

								<div class="row">
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-3">
											<select class="form-select" id="inputIndustryType" name="shOption">
												<option value="">검색구분</option>
												<option value="1" name="shOption">코드</option>
												<option value="2" name="shOption">맴버이름</option>
												<option value="3" name="shOption">닉네임</option>
												<option value="4" name="shOption">생일</option>
												<option value="5" name="shOption">이메일</option>
												<option value="6" name="shOption">전화번호</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm- col-12">
										<div class="mb-3">
											<input type="text" class="form-control" id="inputPostalCode"
												name ="shValue">
										</div>
									</div>
									<!-- 버튼 -->
									<div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm- col-12">
										<div class="mb-3">
											<button class="btn" type="submit">
												<i class="bi bi-search"></i>
											</button>
											<a href ="/xdm/v1/infra/member/memberList"><button class="btn" type="button">
												<i class="bi bi-arrow-counterclockwise"></i>
											</button></a>
										</div>
									</div>
								</div>


								<div class="col-1" style="float: right;">
									<div class="mb-3">
										<select class="form-select" id="inputIndustryType">
											<option value="Select">5</option>
											<option value="Select">10</option>
											<option value="Select">15</option>
											<option value="Select">20</option>
											<option value="Select">25</option>
										</select>
									</div>
								</div>





								<div class="col-1">
									<div class="mb-3">
										<p style="font-size: 25px;" th:text="'Total:'+${vo.totalRows}"></p>
									</div>
								</div>

								<div class="table-responsive">
									<div class="form-check">
										<table id="apiCallbacks" class="table custom-table">
											<thead>
												<tr>
													<th><input class="form-check-input" type="checkbox"
														value="" id="flexCheckDefault"></th>
													<th>#</th>
													<th>코드</th>
													<th>성별</th>
													<th>맴버이름</th>
													<th>생년월일</th>
													<th>닉네임</th>
													<th>삭제여부</th>
													<th>사용</th>
													<th>이메일</th>
													<th>전화번호</th>
													<th>등록일</th>
													<th>수정일</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${#lists.isEmpty(list)}">
													<td colspan="11">
														<p>There are no data</p>
													</td>
												</tr>
												
												<tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
													<td>
														<input class="form-check-input" type="checkbox"
														value="" id="flexCheckDefault">
													</td>
													<td></td>
													<td th:text="${list.mmSeq}"></td>
													<td th:if="${list.mmGender != null}" th:text="${@codeService.selectOneCachedCode(list.mmGender)}" class="mmGender align-middle"></td>
													<td th:unless="${list.mmGender != null}" class="mmGender align-middle"></td>
													<td><a th:href="@{/xdm/v1/infra/member/memberMFom(mmSeq=${list.mmSeq})}" th:text="${list.mmRealName}">
														</a>
													</td>
													<td th:text="${list.mmBirthDay}"></td>
													<td th:text="${list.mmNickName}"></td>
													<td th:if ="${list.mmDelNy eq 0}">N</td>
													<td th:unless = "${list.mmDelNy eq 0}">Y</td>	
													<td th:if ="${list.mmUseNy eq 0}">N</td>
													<td th:unless = "${list.mmUseNy eq 0}">Y</td>
													<td th:text = "${list.mmEmail}"></td>
													<td th:text = "${list.mmTell}"></td>
													<td th:text="${#dates.format(list.mmDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
													<td th:text="${#dates.format(list.mmFixDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
												</tr>
											</tbody>
										</table>
										<!--페이지-->
										<!-- paging s  -->				
										<div class="container-fluid px-0 mt-2 mb-2">
											<div class="row">
												<div class="col">
													<ul class="pagination justify-content-center mb-0">
														<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|"><i class="bi bi-caret-left-fill"></i></a></li>
														<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a></li>
														<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|"><i class="bi bi-caret-right-fill"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<!-- paging e  -->		   
									</div>
								</div>
								<!---버튼--->
								<div class="row">
									<div class="col">
										<button class="btn" type="button">
											<i class="bi bi-x-circle-fill"></i>
										</button>
										<button class="btn" type="button">
											<i class="bi bi-bucket-fill"></i>
										</button>
									</div>
									<div class="col">
										<div class="col d-flex justify-content-end">
											<a href="/xdm/v1/infra/member/memberForm"<button
													class="btn" type="button">
													<i class="bi bi-plus-circle-fill"></i>
												</button></a>
										</div>

									</div>
								</div>






								<!-- Card end -->
							</div>
							<!-- Content wrapper end -->

							<!-- App Footer start -->
							<div class="app-footer">
								<span>© Arise admin 2023</span>
							</div>
							<!-- App footer end -->

						</div>
						<!-- Content wrapper scroll end -->

					</div>
					<!-- *************
				************ Main container end *************
			************* -->

				</div>
			</form>
			
			

				<!-- *************
			************ Required JavaScript Files *************
		************* -->
		
				
				<!-- Required jQuery first, then Bootstrap Bundle JS -->
				<script src="/xdm/v1/template/Arise/assets/js/jquery.min.js"></script>
				<script src="/xdm/v1/template/Arise/assets/js/bootstrap.bundle.min.js"></script>
				<script src="/xdm/v1/template/Arise/assets/js/modernizr.js"></script>
				<script src="/xdm/v1/template/Arise/assets/js/moment.js"></script>
				<script type="text/javascript">
				goList = function (thisPage) {
				    document.querySelector("input[name=thisPage]").value = thisPage;
				    form.action = "/xdm/v1/infra/member/memberList";
				    form.submit();
				}
				</script>
				<script type="text/javascript">
				goList = function (thisPage) {
				    document.querySelector("input[name=thisPage]").value = thisPage;
				    document.querySelector("form[name=formList]").action = "/xdm/v1/infra/member/memberList";
				    document.querySelector("form[name=formList]").submit();
				}
				</script>
				
				<!--by developer  -->
				<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
				
				<script type="text/javascript">
					
					window.addEventListener('load', function() {
						
						$.datetimepicker.setLocale('ko');
						
						$("#shDateStart,#shDateEnd").datetimepicker({
							timepicker:false,
							format:'Y-m-d'
						});	
					});
				</script>
				
				
				
				

				<!-- *************
			************ Vendor Js Files *************
		************* -->

				<!-- Overlay Scroll JS -->
				<script
					src="/xdm/v1/template/Arise/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
				<script
					src="/xdm/v1/template/Arise/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

				<!-- Data Tables -->
				<script
					src="/xdm/v1/template/Arise/assets/vendor/datatables/dataTables.min.js"></script>
				<script
					src="/xdm/v1/template/Arise/assets/vendor/datatables/dataTables.bootstrap.min.js"></script>


				<!-- Main Js Required -->
				<script src="/xdm/v1/template/Arise/assets/js/main.js"></script>
</body>

</html>