<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Meta -->
<meta name="description" content="Best Bootstrap Admin Dashboards">
<meta name="author" content="Bootstrap Gallery" />
<link rel="canonical" href="https://www.bootstrap.gallery/">
<meta property="og:url" content="https://www.bootstrap.gallery">
<meta property="og:title"
	content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
<meta property="og:description"
	content="Marketplace for Bootstrap Admin Dashboards">
<meta property="og:type" content="Website">
<meta property="og:site_name" content="Bootstrap Gallery">
<link rel="shortcut icon"
	href="/xdm/v1/template/Arise/assets/images/favicon.svg">

<!-- Title -->
<title>Bootstrap Admin Dashboards</title>


<!-- *************
			************ Common Css Files *************
		************ -->
<!-- Animated css -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/css/animate.css">

<!-- Bootstrap font icons css -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/fonts/bootstrap/bootstrap-icons.css">

<!-- Main css -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/css/main.min.css">
	
<!--by developer  -->
<link rel ="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css" />


<!-- *************
			************ Vendor Css Files *************
		************ -->

<!-- Scrollbar CSS -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">

<!-- Data Tables -->
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/vendor/datatables/dataTables.bs5.css" />
<link rel="stylesheet"
	href="/xdm/v1/template/Arise/assets/vendor/datatables/dataTables.bs5-custom.css" />
<style>
.member {
	
}

td, th {
	height: 50px;
	text-align: center;
}
</style>

</head>

<body>
<form name=formList method="post" action="/xdm/v1/infra/code/codeXdmList" autocomplete="off">
<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
	<!-- Loading wrapper start -->
	<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
	<!-- Loading wrapper end -->

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<div th:replace="~{xdm/v1/infra/include/sidebar :: sidebar}"></div>

		<!-- *************
				************ Main container start *************
			************* -->
		<div class="main-container">

			<!-- Page header starts -->
			<div class="page-header">

				<div class="toggle-sidebar" id="toggle-sidebar">
					<i class="bi bi-list"></i>
				</div>

				<!-- Breadcrumb start -->

				<!-- Breadcrumb end -->

				<!-- Header actions ccontainer start -->
				<div class="header-actions-container">

					<!-- Search container start -->
					<div class="search-container">

						<!-- Search input group start -->
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search anything">
							<button class="btn" type="button">
								<i class="bi bi-search"></i>
							</button>
						</div>
						<!-- Search input group end -->

					</div>
					<!-- Search container end -->

					<!-- Leads start -->
					<a href="orders.html" class="leads d-none d-xl-flex">
						<div class="lead-details">
							You have <span class="count"> 21 </span> new leads
						</div> <span class="lead-icon"><i
							class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i><b
							class="dot animate__animated animate__heartBeat animate__infinite"></b></span>
					</a>
					<!-- Leads end -->

					<!-- Header actions start -->
					<div th:replace="~{xdm/v1/infra/include/loginHead :: loginHead}"></div>
					<!-- Header actions end -->

				</div>
				<!-- Header actions ccontainer end -->

			</div>
			<!-- Page header ends -->

			<!-- Content wrapper scroll start -->
			<div class="content-wrapper-scroll">

				<!-- Content wrapper start -->
				<div class="content-wrapper">


					<!-- Card start -->
					<div class="card">

						<div class="card-header" style="display: block;"></div>







						<div class="card-body">

							<ol class="breadcrumb d-md-flex d-none">
								<li class="breadcrumb-item"><i class="bi bi-house"></i> <a
									href="#">page1</a></li>
								<li class="breadcrumb-item">page2</li>
								<li class="breadcrumb-item breadcrumb-active"
									aria-current="page">Default</li>
							</ol>
							<h2 style="height: 80px;">Code</h2>

							<div class="card-title">

								<div class="row">
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-3">
											<select class="form-select" id="shcdDelNy" name="shcdDelNy">
												<option value="" th:selected ="${vo.shcdDelNy == null}" >삭제여부</option>
												<option value="0" name="shcdDelNy" th:selected ="${vo.shcdDelNy == 0}">N</option>
												<option value="1" name="shcdDelNy" th:selected ="${vo.shcdDelNy == 1}">Y</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-3">
											<select class="form-select" id="shcdUseNy" name="shcdUseNy">
												<option value="" th:selected ="${vo.shcdUseNy == null}">사용여부</option>
												<option value="0" name="shcdUseNy" th:selected ="${vo.shcdUseNy == 0}">N</option>
												<option value="1" name="shcdUseNy" th:selected ="${vo.shcdUseNy == 1}">Y</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-3">
											<select class="form-select" id="shOptionDate" name="shOptionDate">
												<option value="" th:selected ="${vo.shOptionDate == null}">날짜선택</option>
												<option value="1" name="shOptionDate" th:selected ="${vo.shOptionDate == 1}">등록일</option>
												<option value="2" name="shOptionDate" th:selected ="${vo.shOptionDate == 2}">수정일</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3">
										<div class="mb-2">
											<input type="text" class="form-control" id="shDateStart" th:value ="${#strings.substring(vo.shDateStart, 0, 10)}"
												name="shDateStart" placeholder="시작일">
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-2">
											<input type="text" class="form-control" id="shDateEnd" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}"
												name="shDateEnd" placeholder="종료일">
										</div>
									</div>
								</div>

								<div class="row">
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
										<div class="mb-3">
											<select class="form-select" id="shOption" name="shOption">
												<option value="">검색구분</option>
												<option value="1" name="shOption" th:selected ="${vo.shOption == 1}">코드</option>
												<option value="2" name="shOption" th:selected ="${vo.shOption == 2}">코드그룹코드</option>
												<option value="3" name="shOption" th:selected ="${vo.shOption == 3}">코드이름</option>
												<option value="4" name="shOption" th:selected ="${vo.shOption == 4}">코드그룹이름</option>
												<option value="5" name="shOption" th:selected ="${vo.shOption == 5}">순서</option>
											</select>
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm- col-12">
										<div class="mb-3">
											<input type="text" class="form-control" id="shValue"
												name="shValue" th:value ="${vo.shValue}">
										</div>
									</div>
									<!--버튼1  -->
									<div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm- col-12">
										<div class="mb-3">
											<button class="btn" type="submit">
												<i class="bi bi-search"></i>
											</button>
											<a href="/xdm/v1/infra/code/codeXdmList"><button class="btn" type="button">
												<i class="bi bi-arrow-counterclockwise"></i>
											</button></a>
										</div>
									</div>
								</div>


								<div class="col-1" style="float: right;">
									<div class="mb-3">
										<select class="form-select" id="changeRowNum" name="changeRowNum">
												<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
												<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
												<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
												<option value="50" th:selected="${vo.rowNumToShow eq 50}">50</option>
												<option value="80" th:selected="${vo.rowNumToShow eq 80}">80</option>
												<option value="100" th:selected="${vo.rowNumToShow eq 100}">100</option>       
										</select>
									</div>
								</div>
								





								<div class="col-1">
									<div class="mb-3">
										<p style="font-size: 25px;" th:text="'Total:'+${vo.totalRows}"></p>
									</div>
								</div>

								<div class="table-responsive">
									<div class="form-check">
										<table id="apiCallbacks" class="table custom-table">
											<thead>
												<tr>
													<th><input class="form-check-input" type="checkbox"
														value="" id="flexCheckDefault"></th>
													<th>#</th>
													<th>코드</th>
													<th>코드이름</th>
													<th>순서</th>
													<th>사용</th>
													<th>삭제여부</th>
													<th>코드그룹이름</th>
													<th>코드그룹 코드</th>
													<th>등록일</th>
													<th>수정일</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${#lists.isEmpty(list)}">
													<td colspan="11">
														<p>There are no data</p>
													</td>
												</tr>
												
												<tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}" >
													<td>
														<input class="form-check-input" type="checkbox"
														value="" id="flexCheckDefault">
													</td>
													<td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}" class="align-middle"></td>
													<td><a th:href="@{/xdm/v1/infra/code/codeXdmMfom(cdSeq=${list.cdSeq})}" th:text="${list.cdSeq}">
														</a>
												   </td>
													<td><a th:href="@{/xdm/v1/infra/code/codeXdmMfom(cdSeq=${list.cdSeq})}" th:text="${list.cdName}">
														</a>
													</td>
													<td th:text="${list.cdTurn}"></td>
													<td th:if ="${list.cdUseNy eq 0}">N</td>
													<td th:unless = "${list.cdUseNy eq 0}">Y</td>	
													<td th:if ="${list.cdDelNy eq 0}">N</td>
													<td th:unless = "${list.cdDelNy eq 0}">Y</td>
													<td th:text ="${list.cgName}"></td>
													<td th:text ="${list.cgSeq}"></td>			
													<td th:text="${#dates.format(list.cdDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
													<td th:text="${#dates.format(list.cdFixDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
												</tr>
											</tbody>
										</table>
										<!--페이지-->
										<!-- paging s  -->				
										<div class="container-fluid px-0 mt-2 mb-2">
											<div class="row">
												<div class="col">
													<ul class="pagination justify-content-center mb-0">
														<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|"><i class="bi bi-caret-left-fill"></i></a></li>
														<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a></li>
														<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|"><i class="bi bi-caret-right-fill"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<!-- paging e  -->	
									</div>
								</div>
								<!---버튼--->
								<div class="row">
									<div class="col">
										<button class="btn" type="button">
											<i class="bi bi-x-circle-fill"></i>
										</button>
										<button class="btn" type="button">
											<i class="bi bi-bucket-fill"></i>
										</button>
									</div>
									<div class="col">
										<div class="col d-flex justify-content-end">
											<a href="/xdm/v1/infra/code/codeXdmForm"<button
													class="btn" type="button">
													<i class="bi bi-plus-circle-fill"></i>
												</button></a>
										</div>

									</div>
								</div>






								<!-- Card end -->
							</div>
							<!-- Content wrapper end -->

							<!-- App Footer start -->
							<div class="app-footer">
								<span>© Arise admin 2023</span>
							</div>
							<!-- App footer end -->

						</div>
						<!-- Content wrapper scroll end -->

					</div>
					<!-- *************
				************ Main container end *************
			************* -->

				</div>
			</form>

				<!-- *************
			************ Required JavaScript Files *************
		************* -->
				<!-- Required jQuery first, then Bootstrap Bundle JS -->
				<script src="/xdm/v1/template/Arise/assets/js/jquery.min.js"></script>
				<script src="/xdm/v1/template/Arise/assets/js/bootstrap.bundle.min.js"></script>
				<script src="/xdm/v1/template/Arise/assets/js/modernizr.js"></script>
				<script src="/xdm/v1/template/Arise/assets/js/moment.js"></script>
				<script type="text/javascript">
				goList = function (thisPage) {
				    document.querySelector("input[name=thisPage]").value = thisPage;
				    form.action = "/xdm/v1/infra/code/codeList";
				    form.submit();
				}
				</script>
				<script type="text/javascript">
				goList = function (thisPage) {
				    document.querySelector("input[name=thisPage]").value = thisPage;
				    document.querySelector("form[name=formList]").action = "/xdm/v1/infra/code/codeXdmList";
				    document.querySelector("form[name=formList]").submit();
				}
				</script>
				
				<script type="text/javascript">
					document.getElementById("changeRowNum").onchange = function () {
				    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
				    form.action = goUrlXdmList;
				    form.submit();
				}
				</script>
				
				<!--by developer  -->
				<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
				
				<script type="text/javascript">
					
					window.addEventListener('load', function() {
						
						$.datetimepicker.setLocale('ko');
						
						$("#shDateStart,#shDateEnd").datetimepicker({
							timepicker:false,
							format:'Y-m-d'
						});	
					});
				</script>
				<script type="text/javascript">
					document.getElementById("btnLogout").onclick = function (){
						$.ajax({
							async: true 
							,cache: false
							,type: "post"
							/* ,dataType:"json" */
							,url: "/xdm/v1/infra/login/logoutXdmProc"
							,success: function(response) {
								if(response.rt == "success") {
								location.href ="/xdm/v1/infra/login/logInXdmForm";
								}else {
								   	
							    }
							}	
						});
					}		
				</script>
				
				<!-- *************
			************ Vendor Js Files *************
		************* -->

				<!-- Overlay Scroll JS -->
				<script
					src="/xdm/v1/template/Arise/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
				<script
					src="/xdm/v1/template/Arise/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

				<!-- Data Tables -->
				<script
					src="/xdm/v1/template/Arise/assets/vendor/datatables/dataTables.min.js"></script>
				<script
					src="/xdm/v1/template/Arise/assets/vendor/datatables/dataTables.bootstrap.min.js"></script>


				<!-- Main Js Required -->
				<script src="/xdm/v1/template/Arise/assets/js/main.js"></script>
</body>

</html>