<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/usr/img/pages/icon.png" type="image/png">
        <title>Pages</title>
        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="/usr/vender/bootstrap/css/bootstrap.min.css">
        <!-- Icofont Css -->
        <link rel="stylesheet" href="/usr/vender/icofont/icofont.min.css">
        <!-- AOS Css -->
        <link rel="stylesheet" href="/usr/vender/aos/dist/aos.css">
        <!-- Remix Icons -->
        <link rel="stylesheet" href="/usr/vender/remixicon/remixicon.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="/usr/vender/css/style.css">
        <!-- Common Css -->
        <link rel="stylesheet" href="/usr/css/common.css">
    </head>
    <body>
        
        <div class="bg-white white-top-header position-relative">
            <!-- navbar -->
            <div class="elements-nav">
                <!-- bootom nav -->
                <nav class="navbar white-main-nav my-account-nav navbar-expand bottom-nav bg-black border-bottom border-opacity-10 border-white py-lg-0 py-3 bg-opacity-25">
                    <div class="container">
                        <div class="position-relative d-flex align-items-center gap-2 site-brand">
                                                            <i class="ri-baidu-line fs-2 lh-1 text-black"></i>
                                                            <div class="lh-1">
                                                                <h5 class="fw-bold m-0 text-black">Pet</h5>
                                                                <small class="text-dark">Template</small>
                                                            </div>
                                                            <a class="stretched-link" href="../0_index.html"></a>
                                                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav m-auto gap-4 m-none">
                                <li class="nav-item">
                                    <a class="nav-link active" href="../0_index.html"><i class="ri-apps-2-line"></i> Home</a>
                                </li>
                                
                                <li class="nav-item dropdown osahan-mega-menu position-static">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Extra Pages </a>
                                    <ul class="dropdown-menu w-100 m-0 border-opacity-10 border-dark border-top border-bottom p-0 start-0 end-0 rounded-0 shadow">
                                        <li>
                                            <div class="dropdown-mega-content container">
                                                <div class="row g-0">
                                                    <div class="col-lg-3 p-5 border-end border-opacity-10 border-dark">
                                                        <h6 class="dropdown-mega-sub-title mb-3 fw-bold">Shop</h6>
                                                        <ul class="dropdown-mega-sub-nav list-unstyled">
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_shop-product-grid.html">0_Product Grid</a></li>
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_shop-product-detail.html">0_Product Detail</a></li>
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_shop-cart.html">0_Shop Cart</a></li>
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_shop-checkout.html">0_Shop Checkout</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 p-5 border-end border-opacity-10 border-dark">
                                                        <h6 class="dropdown-mega-sub-title mb-3 fw-bold">My Account</h6>
                                                        <ul class="dropdown-mega-sub-nav list-unstyled">
                                                            
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_page-login.html">0_Log In v.2</a></li>
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_page-signup.html">0_Sign Up v.2</a></li>
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_page-reset-password.html">0_Forgot Password</a></li>
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_account-orders.html">0_Orders</a></li>
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_account-settings.html">0_Settings</a></li>
                                                            <li><a class="dropdown-item px-0 py-1 bg-transparent" href="./0_account-address.html">0_Address</a></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>    
                            </ul>
                            <a href="./0_shop-cart.html" class="btn btn-purple btn-theme rounded-pill d-none d-lg-block"><i class="ri-shopping-cart-line me-2"></i> 장바구니로 가기 </a>
                            <div class="d-flex align-items-center gap-4 ms-auto ms-lg-0 ps-4">
                                <a href="./0_account-orders.html" class="link-light d-none d-lg-block"><i class="ri-account-pin-circle-fill ri-lg"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="osahan-user-header">
            
        </div>
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="rounded-4 border osahan-sidebar bg-white mb-4">
                            <div class="text-center p-5 border-bottom">
                                <img src="/usr/img/pages/team/member-1.jpg" alt="customer" class="img-fluid rounded-circle profile-img cw-80 ch-80 mb-4">
                                <h3 class="fw-bold mb-1">김선우</h3>
                                <p class="m-0 text-muted">tjsdn2587@gmail.com</p>
                            </div>
                            <div class="p-4 osahan-sidebar-links">
                                <a class="dropdown-item" href="./0_account-orders.html"><i class="ri-file-list-line me-2"></i>주문</a>
                                <a class="dropdown-item" href="./0_account-settings.html"><i class="ri-settings-line me-2"></i> 내정보 수정</a>
                                <a class="dropdown-item active" href="./0_account-address.html"><i class="ri-map-pin-line me-2"></i>배송 주소</a>
                                <a class="dropdown-item" href="../index.html"><i class="ri-logout-circle-line me-2"></i>로그아웃</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 ps-lg-0 pb-5">
                        <div class="ps-lg-5 pt-lg-5">
                            <div class="d-flex align-items-center justify-content-between w-100 mb-5">
                                <h1 class="m-0 fw-bold">배송 주소 생성</h1>
                            </div>
                            <div class="svg-border-rounded text-light">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="#ffffff"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                            </div>
                        </div>
                        <div class="py-5">
                            <div class="container">
                                <div class="row g-4">
                                    <div class="col-lg-9 col-12">
                                        <form post="method" action="/usr/v1/infra/address/addressUsrInst" class="row g-3"> 
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="inputFirstName" class="form-label small text-muted">받는 사람</label>
                                                <input type="text" name="adName" th:text="${adName}" class="form-control" aria-label="inputFirstName">
                                            </div>
                                        </div>
                                    
                                      
                                          <div class="row">
                                           <div class="col-5">
                                                <label for="inputCompnay" class="form-label small text-muted">우편번호</label>
                                                <input type="text" name="adZipCode" th:text="${adZipCode}" class="form-control" id="sample4_postcode">
                                            </div>
                                        </div>
                                            <div class="col align-self-end">
                                                <button type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" class="btn btn-dark">우편번호 찾기</button><br>
                                            </div>
                                    
                                            <div class="col-12">
                                                <label for="inputCompnay" class="form-label small text-muted">주소입력</label>
                                                <input type="text" name="ad3" th:value="${item?.ad3}" class="form-control mb-3" id="sample4_jibunAddress" placeholder="지번주소" readonly>
                                                <input type="text" name="ad1" th:value="${item?.ad1}" class="form-control mb-3" id="sample4_roadAddress" placeholder="도로명주소" readonly>
                                                <input type="text" name="ad2" th:value="${item?.ad2}" class="form-control" id="inputAddress" placeholder="상세주소 입력">                               
                                            </div>
                                           
                                            <div class="col-12">
                                            	<br>
                                                <label for="inputAddress" class="form-label small text-muted">휴대전화</label>
                                                <input type="text" name="adTell" th:value="${item?.adTell}" class="form-control mb-3" id="inputAddress" placeholder="">
                                            </div>
                                            
                                            <div class="col-12">
                                                <label for="inputAddress" class="form-label small text-muted">임시맴버Seq</label>
                                                <input type="inputphone" name="member_mmSeq" th:value="${item?.member_mmSeq}" class="form-control mb-3" id="inputAddress" placeholder="">
                                            </div>
                                      
                                            <div class="col-4">
                                                <input name="ma_main_flag" fw-filter="" fw-label="기본 배송지로 저장" fw-msg="" value="T" type="checkbox">
                                                <span>기본 배송지로 저장</span>
                                            </div>
                                   
                                        
                                            
                                                <button type="submit" class="btn btn-purple btn-theme w-100 rounded-3"> <i class="ri-add-fill me-2"></i> 배송주소 생성 </button>
                                                <a href="#" class="btn btn-dark btn-theme w-100 rounded-3"> <i class="ri-close-fill me-2"></i>취소 </a>
                                               
                                        
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Build Something Together -->
        <!-- footer -->
        <footer class="bg-footer text-white">
            <div class="bg-black py-4">
                <div class="container">
                    <div class="row g-4 py-4">
                        <div class="col-lg-3 col-6">
                            <h5 class="fw-bold pb-3">고객센터</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>number: 02-0000-0000</li>
                                <li>Fax: +1800-964-152</li>
                                <li>Email: tjsdn2587@gmail.com</li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-12">
                            <h5 class="fw-bold pb-3">영업 시간</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>월 - 금: 10am - 8pm</li>
                                <li>토: 10am - 4pm</li>
                                <li>일: 휴무</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="bg-light py-4 footer-copyright">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <p class="text-center text-muted m-0">Copyright 2024 <a href="#" class="text-black"> Tony Chang all rights reserved.</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--카카오 주소  -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
	    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
	    function sample4_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var roadAddr = data.roadAddress; // 도로명 주소 변수
	                var extraRoadAddr = ''; // 참고 항목 변수
	
	                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                    extraRoadAddr += data.bname;
	                }
	                // 건물명이 있고, 공동주택일 경우 추가한다.
	                if(data.buildingName !== '' && data.apartment === 'Y'){
	                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                }
	                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	                if(extraRoadAddr !== ''){
	                    extraRoadAddr = ' (' + extraRoadAddr + ')';
	                }
	
	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('sample4_postcode').value = data.zonecode;
	                document.getElementById("sample4_roadAddress").value = roadAddr;
	                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
	                
	                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
	                if(roadAddr !== ''){
	                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
	                } else {
	                    document.getElementById("sample4_extraAddress").value = '';
	                }
	
	                var guideTextBox = document.getElementById("guide");
	                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
	                if(data.autoRoadAddress) {
	                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
	                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
	                    guideTextBox.style.display = 'block';
	
	                } else if(data.autoJibunAddress) {
	                    var expJibunAddr = data.autoJibunAddress;
	                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
	                    guideTextBox.style.display = 'block';
	                } else {
	                    guideTextBox.innerHTML = '';
	                    guideTextBox.style.display = 'none';
	                }
	            }
	        }).open();
	    }
	</script>
        <!-- Bootsrap Bundle Js -->
        <script src="/usr/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Jquery Js -->
        <script src="/usr/vender/jquery/jquery-3.6.4.min.js"></script>
        <!-- AOS Js -->
        <script src="/usr/vender/aos/dist/aos.js"></script>
        <!-- Custom Js -->
        <script src="/usr/js/script.js"></script>
    </body>
</html>