<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/usr/img/pages/icon.png" type="image/png">
        <title>Pages</title>
        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="/usr/vender/bootstrap/css/bootstrap.min.css">
        <!-- Icofont Css -->
        <link rel="stylesheet" href="/usr/vender/icofont/icofont.min.css">
        <!-- AOS Css -->
        <link rel="stylesheet" href="/usr/vender/aos/dist/aos.css">
        <!-- Remix Icons -->
        <link rel="stylesheet" href="/usr/vender/remixicon/remixicon.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="/usr/vender/css/style.css">
        <!-- Common Css -->
        <link rel="stylesheet" href="/usr/css/common.css">
    </head>
    <body>
   		<div th:replace="~{usr/v1/infra/include/profileHead :: profileHead}"></div>
        
        <div class="osahan-user-header">
            
        </div>
        <div class="pb-5">
            <div class="container">
                <div class="row">
                
                   <div th:replace="~{usr/v1/infra/include/profile :: profile}"></div>
                   
                    <div class="col-lg-8 ps-lg-0 pb-5">
                        <div class="py-5">
                            <div class="container">
                                <div class="row g-4">
                                    <div class="col-lg-9 col-12">
                                        <form method="post" action="/usr/v1/infra/address/addressUsrUpdt" name="mfom" class="row g-3"> 
                                            <div class="col-md-5">
                                            	<input type="hidden"  name="adSeq" th:value="${item?.adSeq}" class="form-control" aria-label="inputFirstName">
                                                <label for="inputFirstName"  class="form-label small text-muted">받는 사람</label>
                                                <input type="text"  name="adName" th:value="${item?.adName}" class="form-control" aria-label="inputFirstName">
                                            </div>
                                          <div class="row">
                                            <div class="col-5">
                                                <label for="inputCompnay" class="form-label small text-muted">우편번호</label>
                                                <input type="text" name="adZipCode" th:value="${adZipCode}" class="form-control" id="sample4_postcode" readonly>
                                            </div>
                                        </div>
                                            <div class="col align-self-end">
                                                <button type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" class="btn btn-dark">우편번호 찾기</button><br>
                                            </div>
                                    
                                            <div class="col-12">
                                                <label for="inputCompnay" class="form-label small text-muted">주소입력</label>
                                                <input type="text" name="ad3" th:value="${item?.ad3}" class="form-control mb-3" id="sample4_jibunAddress" placeholder="지번주소" readonly>
                                                <input type="text" name="ad1" th:value="${item?.ad1}" class="form-control mb-3" id="sample4_roadAddress" placeholder="도로명주소" readonly>
                                                <input type="text" name="ad2" th:value="${item?.ad2}" class="form-control" id="inputAddress" placeholder="상세주소 입력">                               
                                            </div>
                                           
                                            <div class="col-12">
                                            	<br>
                                                <label for="inputAddress" class="form-label small text-muted">휴대전화</label>
                                                <input type="text" name="adTell" th:value="${item?.adTell}" class="form-control mb-3" id="inputAddress" placeholder="">
                                            </div>  
                                                <input type="hidden" name="member_mmSeq" th:value="${item?.member_mmSeq}" class="form-control mb-3" id="inputAddress" placeholder="">
                                            
                                   
                                        
                                            
                                                <button type="submit" class="btn btn-purple btn-theme w-100 rounded-3"> <i class="ri-add-fill"></i> 배송주소 수정 </button>
                                                <a href="#" class="btn btn-dark btn-theme w-100 rounded-3"> <i class="ri-close-fill me-2"></i>취소 </a>
                                                <a href="#" class="btn btn-danger btn-theme w-100 rounded-3" data-bs-toggle="modal" data-bs-target="#delete"> <i class="ri-add-fill me-2"></i> 주소삭제 </a>
                                        
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Build Something Together -->
        <!-- footer -->
        <footer class="bg-footer text-white">
            <div class="bg-black py-4">
                <div class="container">
                    <div class="row g-4 py-4">
                        <div class="col-lg-3 col-6">
                            <h5 class="fw-bold pb-3">고객센터</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>number: 02-0000-0000</li>
                                <li>Fax: +1800-964-152</li>
                                <li>Email: tjsdn2587@gmail.com</li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-12">
                            <h5 class="fw-bold pb-3">영업 시간</h5>
                            <ul class="list-unstyled d-grid gap-2 text-white-50">
                                <li>월 - 금: 10am - 8pm</li>
                                <li>토: 10am - 4pm</li>
                                <li>일: 휴무</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="bg-light py-4 footer-copyright">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <p class="text-center text-muted m-0">Copyright 2024 <a href="#" class="text-black"> Tony Chang all rights reserved.</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- delete modal -->
        <div class="modal fade" id="delete" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content bg-white border-0 rounded-4 overflow-hidden">
                    <div class="modal-body text-center p-4">
                        <i class="ri-delete-bin-5-fill ri-3x text-danger"></i>
                        <h4 class="fw-bold">정말로 삭제하시겠습니까?</h4>
                    </div>
                    <div class="modal-footer border-0 p-0">
                        <a href="#" class="btn btn-outline-dark rounded-0 m-0 py-2 w-50 border-0 border-top" data-bs-dismiss="modal"> <i class="ri-close-fill me-2"></i>Cancel </a>
                        <button type="button" id="delbtn" class="btn btn-danger rounded-0 m-0 py-2 w-50 border-0 border-top" data-bs-dismiss="modal"> <i class="ri-delete-bin-5-fill me-2"></i>Delete </button>
                    </div>
                </div>
            </div>
        </div>
        
        
         <script>
		document.getElementById("delbtn").onclick = function(){
			let form= document.querySelector("form[name=mfom]");
			form.action ="/usr/v1/infra/address/addressUsrDete";
			form.submit();
		}
		</script>
		<!--카카오주소 -->
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<!--카카오주소  -->
        <script>
		    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		    function sample4_execDaumPostcode() {
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
		
		                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var roadAddr = data.roadAddress; // 도로명 주소 변수
		                var extraRoadAddr = ''; // 참고 항목 변수
		
		                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
		                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
		                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                    extraRoadAddr += data.bname;
		                }
		                // 건물명이 있고, 공동주택일 경우 추가한다.
		                if(data.buildingName !== '' && data.apartment === 'Y'){
		                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                }
		                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
		                if(extraRoadAddr !== ''){
		                    extraRoadAddr = ' (' + extraRoadAddr + ')';
		                }
		
		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById('sample4_postcode').value = data.zonecode;
		                document.getElementById("sample4_roadAddress").value = roadAddr;
		                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
		                
		                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
		                if(roadAddr !== ''){
		                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
		                } else {
		                    document.getElementById("sample4_extraAddress").value = '';
		                }
		
		                var guideTextBox = document.getElementById("guide");
		                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
		                if(data.autoRoadAddress) {
		                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
		                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
		                    guideTextBox.style.display = 'block';
		
		                } else if(data.autoJibunAddress) {
		                    var expJibunAddr = data.autoJibunAddress;
		                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
		                    guideTextBox.style.display = 'block';
		                } else {
		                    guideTextBox.innerHTML = '';
		                    guideTextBox.style.display = 'none';
		                }
		            }
		        }).open();
		    }
		</script>
        <!-- Bootsrap Bundle Js -->
        <script src="/usr/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Jquery Js -->
        <script src="/usr/vender/jquery/jquery-3.6.4.min.js"></script>
        <!-- AOS Js -->
        <script src="/usr/vender/aos/dist/aos.js"></script>
        <!-- Custom Js -->
        <script src="/usr/js/script.js"></script>
    </body>
</html>